<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10 offset-lg-1 pb-5 text-center thank-you">
                <div class=''>
                	<h1 class='text-uppercase mb-3'>Terima Kasih!</h1>
                	<i class='fa fa-check'></i>
                	<p class="mt-5 desc">Kami sudah menerima permintaan Anda dan Kami akan merespon segera!</p>
                    <p class="desc">Anda dapat mengikuti media sosial kami untuk terus terhubung dengan berita dan layanan kami.</p>
                    <a class='social-icons mr-3' href="https://www.facebook.com/MPM-Rent-148287218633589/"><img src="{assetsPath}/facebook-round.png"></a>
                    <a class='social-icons mr-3' href="https://www.instagram.com/mpm.rent/"><img src="{assetsPath}/insta-round.png"></a>
                    <a class='social-icons' href="https://www.linkedin.com/company/pt-mitra-pinasthika-mustika-rent-mpm-rent-/"><img src="{assetsPath}/linkedin-circle.png"></a>
                </div>
            	<!-- <a href="{baseUrl}" class="btn btn-primary">Back to homepage</a> -->
            </div>
        </div>
    </div>
</div>