title = "Career"
url = "/career"
layout = "default"
description = "A Career Page"
meta_title = "Job Vacancies | MPM Rent"
meta_description = "Job Vacancies at MPM Rent: Work with us. Achieve your dreams by starting here."
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[profile]

[SeoPage]

[viewBag]
localeMeta_title[id] = "Lowongan Kerja | MPM Rent"
localeMeta_description[id] = "Lowongan Kerja MPM Rent Terbaru: Mari bekerja bersama kami. Gapai impian dan cita-cita Anda mulai dari sini."
==
{% set myAssets = 'assets/images/'|theme %}
{% content "career/career.htm" assetsPath=myAssets activeLocale=activeLocale %}
<div class="container-fluid cf-orange-back-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% component 'profile' %}
            </div>
        </div>
    </div>
</div>