title = "Company Profile Form"
url = "/company-profile"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[company_profile]
mail_to = "contact@mpm-rent.com"
mail_fullname = "Marketing"
==
<div class="f-carousel">
    <div class="owl-carousel owl-theme" id="owl-pages">
        <div class="item">
            <div class="desc-carousel">
                <div class="container">
                    <!-- <h3 class="sub-title-banner">{{ 'we.want.to.be.part.of.your.business'|_ }} </h3> -->
                    <h2 class="news-banner">{{'cp_form_title'|_}}</h2>
                </div>
            </div>
            <img src="{{ 'assets/images/mpm-rent-building-bluesky.webp'|theme }}">
        </div>
    </div>
</div>
<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="title-section text-left">
                    <h1>{{'cp_form_title_download'|_}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p>{{'cp_form_title_download_desc'|_}}</p>
                    </div>
                    <div class="col-md-7">
                        {% component 'company_profile' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>