title = "Homepage"
url = "/"
layout = "default"
description = "Homepage"
meta_title = "MPM Rent | A Leading Car Rental Company in Indonesia"
meta_description = "MPM Rent: The largest car rental company provides car rental for personal and business. Professional car rental services in Jakarta, Indonesia."
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeMeta_title[id] = "Perusahaan Rental Mobil Terbaik di Indonesia | MPM Rent"
localeMeta_description[id] = "MPM Rent sebagai perusahaan rental mobil terbesar dan terbaik di Indonesia melayani kebutuhan rental mobil harian, bulanan & tahunan untuk setiap perusahaan."

[slider]

[testimonial]

[partner]

[client]

[SeoPage]

[rating]
rate = "{{ :rate }}"
==
{% component 'slider' %}
{% partial 'homepage/rent_type' %}
<div class="container-fluid cf-service-index">
    <div class="container">
        <div class="title-section c-white">
            <h2 class="color-white">{{  'our.services'|_ }}</h2>
        </div>
        <div class="subtitle-section">
            <h5 class="color-white">{{ 'home_service.subtitle_section'|_ }}</h5>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 pt-3">
                <div class="card-flex card-flex--three">
                    <div class="card-flex-item cfi-services">
                        <a href="{{ 'services'|page }}#long_term_rental" id="event-hp-long-term">
                            <div class="thumbnail"><img src="{{ 'assets/images/longterm2x.webp'|theme }}"></div>
                            <h4 class="title-list-services">{{ 'long.term.rental'|_ }}</h4>
                        </a>
                    </div>
                    <div class="card-flex-item cfi-services">
                        <a href="{{ 'services'|page }}#short_term_rental" id="event-hp-short-term">
                            <div class="thumbnail"><img src="{{ 'assets/images/IMG_2387@2x.webp'|theme }}"></div>
                            <h4 class="title-list-services">{{ 'short.term.rental'|_ }}</h4>
                        </a>
                    </div>
                    <div class="card-flex-item cfi-services">
                        <a href="{{ 'services'|page }}#fleet_management_system" id="event-hp-fms">
                            <div class="thumbnail"><img src="{{ 'assets/images/apps2x.webp'|theme }}"></div>
                            <h4 class="title-list-services">{{ 'fleet.management.system'|_ }}</h4>
                        </a>
                    </div>
                    <div class="card-flex-item cfi-services">
                        <a href="{{ 'services'|page }}#driver_services" id="event-hp-driver-services">
                            <div class="thumbnail"><img src="{{ 'assets/images/driver services@2x.webp'|theme }}"></div>
                            <h4 class="title-list-services">{{ 'driver.services'|_ }}</h4>
                        </a>
                    </div>
                    <div class="card-flex-item cfi-services">
                        <a href="{{ 'services'|page }}#auction_and_pre-owned_car" id="event-hp-auction">
                            <div class="thumbnail"><img src="{{ 'assets/images/auction2x.webp'|theme }}"></div>
                            <h4 class="title-list-services">{{ 'auction.and.pre-owned.car'|_ }}</h4>
                        </a>
                    </div>
                    <div class="card-flex-item cfi-services">
                        <div class="col-md-12 text-center service-more">
                            <a href="{{ 'services'|page }}" class="btn btn-white">{{ 'learn.more'|_ }}</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="container-fluid cf-white">
    <div class="container">
        {# component 'client' #}
        {% component 'testimonial' %}
    </div>
</div>
<div class="container-fluid cf-service-index">
    <div class="container">
        {{  'home.description'|_ }}
    </div>
</div>