title = "News"
url = "/news/:page?"
layout = "default"
description = "News page"
meta_title = "Latest News - Car Rental and Business"
meta_description = "Get the latest news updates about car rental and business only at MPM Rent"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeMeta_title[id] = "Berita Terbaru - Rental / Sewa Mobil dan Bisnis"
localeMeta_description[id] = "Dapatkan update berita terbaru dan menarik seputar rental / sewa mobil hingga bisnis hanya di MPM Rent"

[news]
pageNumber = "{{ :page }}"
postsPerPage = 3
sortOrder = "event_date desc"
postPage = "news-detail"

[SeoPage]
==
<div class="f-carousel">
    <div class="owl-carousel owl-theme" id="owl-pages">
        <div class="item">
            <div class="desc-carousel">
                <div class="container">
                    <h3 class="sub-title-banner">{{ 'news_page_subtitle'|_ }} </h3>
                    <h1 class="news-banner text-left">{{ 'news_page_title'|_ }}</h1>
                </div>
            </div>
            <img src="{{ 'assets/images/MPM-IMG-Header-Service-03@2x.png'|theme }}">
        </div>
    </div>
</div>
<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pb-5">
				{% component 'news' %}
            </div>
        </div>
    </div>
</div>