title = "Order"
url = "/order"
layout = "default"
meta_title = "Rent Now | MPM Rent"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeMeta_title[id] = "Sewa Sekarang | MPM Rent"

[order_form]
mail_to = "marketing@mpm-rent.com"
mail_fullname = "Marketing"
==
<div class="f-carousel">
    <div class="owl-carousel owl-theme" id="owl-pages">
        <div class="item">
            <div class="desc-carousel">
                <div class="container">
                    <h2 class="news-banner">{{ 'order_title'|_ }}</h2>
                </div>
            </div>
            <img src="{{ 'assets/images/mpm-rent-building-bluesky.webp'|theme }}">
        </div>
    </div>
</div>
<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="title-section text-left">
                    <!-- <h2>Order Services Form</h2> -->
                    <h1>{{ 'order_title'|_ }}</h1>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <!-- <p>Fill in the form to order.</p> -->
                        <p>{{ 'order_description'|_ }}</p>
                    </div>
                    <div class="col-md-7">
                        {% component 'order_form' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>