title = "Our networks"
url = "/our-networks"
layout = "default"
description = "Our networks"
meta_title = "Our Networks | MPM Rent"
meta_description = "Find MPM Rent in big cities such as Jakarta, Surabaya, Medan, Bandung and other cities to get the best transportation services."
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeMeta_title[id] = "Jaringan Layanan Sewa Mobil MPM Rent di Indonesia"
localeMeta_description[id] = "Layanan sewa mobil MPM Rent tersebar di Indonesia mulai dari Jakarta, Bandung, Semarang, Surabaya, Medan, Banjarmasin, Balikpapan, Makassar hingga Manado."

[map]
mapfieldId = "map"
height = "500px"
latitude = 0
longitude = 0
zoom = 3
maxZoom = 18

[SeoPage]
==
{% set myAssets = 'assets/images/'|theme %}
{% content "our-networks/our-networks.htm" assetsPath=myAssets activeLocale=activeLocale %}
<div class="container-fluid cf-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pb-5">
                <div class="page-title m-0">
                    <h1>{{ 'our.networks'|_ }}</h1>
                </div>
                <div class="card-flex card-flex--two">
                    {% set index_headoffice = 0 %}
                	{% for address in addresses %}
                    <div class="card-flex-item {{ index_headoffice == 0 ? 'is-head-office' : '' }}">
                    	<b>{{ address.name }}</b> <br>
                        {{ address.address|raw }} 
                    </div>
                    {% set index_headoffice = index_headoffice + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid cf-orange-back-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pb-5">
                <div class="title-section text-left">
                    <h2>{{ 'we.are.available.here'|_ }}</h2>
                </div>
                <p>{{ list_city }}.</p>
                <div class="img-content">
                    <!-- <img src="assets/images/maps.jpg"> -->
                {% component 'map' %}
                    <div id='map-point-name'>
                        <ul class="flag-container">
                            <li class="flag-item">
                                <img src="{{ url('/plugins/deptech/mpmrent/assets/leaflet/images/head_office.png') }}"> {{ 'head.office'|_ }}
                            </li>
                            <li class="flag-item">
                                <img src="{{ url('/plugins/deptech/mpmrent/assets/leaflet/images/branch.png') }}"> {{ count_branches }} {{ 'branch'|_ }}
                            </li>
                            <li class="flag-item">
                                <img src="{{ url('/plugins/deptech/mpmrent/assets/leaflet/images/service.png') }}"> {{ count_services }} {{ 'service.representative'|_ }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>