title = "Thank you"
url = "/contact/thanks/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10 offset-lg-1 pb-5 text-center">
                <div class='thank-you'>
                	<h1 class='text-uppercase mb-3'>Thank You!</h1>
                	<i class='fa fa-check'></i>
                	<p class="mt-5 desc">We have received your message and would like to thank you for writing to us.</p>
                	<a href="{{ 'homepage'|page }}" class="btn btn-primary">Back to homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>