<div class="title-section">
    <h2>{{ 'Our Customer Testimonials'|_ }}</h2>
</div>
<div class="row mb-5">
    <div class="col-md-12">
        <div class="owl-carousel owl-theme" id="owl-testi">
            {% for testimonial in testimonials %}
            <div class="item">
                <div class="fl-testi h-100">
                    <div class="text-center">
                        <div class="thumbnail mx-auto">
                            {% if testimonial.images %}
                                <img src="{{ testimonial.images|media }}">
                            {% else %}
                                <img src="{{ 'assets/images/default-avatar.jpg'|theme }}">
                            {% endif %}
                        </div>
                        <div class="media-body desc-testi mt-3">
                            <h3>{{  testimonial.name }}</h3>
                            <h5 class='mb-1'>{{  testimonial.position }}</h5>
                            <h5>{% if  testimonial.company %} ({{  testimonial.company }}) {% endif %}</h5>
                            <p>"{{  testimonial.message }}"</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>  
    </div>
</div>