<div class="f-carousel">
    <div class="owl-carousel owl-theme" id="owl-pages">
        <div class="item">
            <div class="desc-carousel">
                <div class="container">
                    <h2>Disiplin dan berkomitmen untuk selalu memastikan kualitas dan ketepatan waktu merupakan peran inti dari setiap anggota tim kami.</h2>
                </div>
            </div>
            <img src="{assetsPath}/mpm-rent-building-bluesky.png">
        </div>
    </div>
</div>