<div class="f-carousel">
    <div class="owl-carousel owl-theme" id="owl-pages">
        <div class="item">
            <div class="desc-carousel">
                <div class="container">
                    <h2>全スタッフが、品の高いサービスを迅速にご提供する為に規律と責任を持ち従事しております</h2>
                </div>
            </div>
            <img src="{assetsPath}/mpm-rent-building-bluesky.png">
        </div>
    </div>
</div>