<div class="f-carousel">
    <div class="owl-carousel owl-theme" id="owl-pages">
        <div class="item">
            <div class="desc-carousel">
                <div class="container">
                    <h2>Discipline and commitment to ensure our quality and timely deliverables are at the core of each member of our team.</h2>
                </div>
            </div>
            <img src="{assetsPath}/mpm-rent-building-bluesky.png">
        </div>
    </div>
</div>