<div id="scanMessagesPopup">
    <?= Form::open(['id' => 'ResetRegion']) ?>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="popup">&times;</button>
            <h4 class="modal-title">Reset Region List</h4>
        </div>

        <div class="modal-body">

            <p>
                This process will be reset region list to default. Be careful to use this feature.
            </p>
        </div>
        <div class="modal-footer">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    class="btn btn-success"
                    data-request="onResetRegion"
                    data-load-indicator="Loading..."
                    data-request-success="$(this).trigger('close.oc.popup')"
                    id="scanMessagesButton">
                    Reset
                </button>
                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup">
                    <?= e(trans('backend::lang.form.cancel')) ?>
                </button>
            </div>
        </div>

    <?= Form::close() ?>
</div>