{% set map = __SELF__.map %}
<div id="{{ map.mapfieldId }}" style="height: {{ map.height }}"></div>

{% put scripts %}
    <style type="text/css">
        .leaflet-tile-pane {
            display: none;
        }
        .leaflet-container {
            background-color: #f26f21;
        }
    </style>
    <script>

         var {{ map.mapfieldId }} = L.map('{{ map.mapfieldId }}', {
            zoomControl: false,
            attributionControl: false
         }).setView([{{ map.latitude }}, {{ map.longitude }}], {{ map.zoom }});;

        // {{ map.mapfieldId }}.fitBounds([{{ map.latitude }}, {{ map.longitude }}]);
        var LeafIcon  = L.Icon.extend({

            iconSize:    [25, 25],
            shadowSize:  [25, 25],
            iconAnchor:  [12, 25],
            popupAnchor: [1, 1],
            tooltipAnchor: [16, -28]
        });

        var headOfficeIcon = new LeafIcon({
            iconUrl: "{{ url('/plugins/deptech/mpmrent/assets/leaflet/images/head_office.png') }}",
            iconSize:    [25, 25],
            shadowSize:  [25, 25],
            iconAnchor:  [12, 25],
            popupAnchor: [1, -7],
            tooltipAnchor: [16, -28]
        }),
        branchIcon = new LeafIcon({
            iconUrl: "{{ url('/plugins/deptech/mpmrent/assets/leaflet/images/branch.png') }}",
            iconSize:    [20, 20],
            shadowSize:  [25, 25],
            iconAnchor:  [1, 20],
            popupAnchor: [7, -7],
            tooltipAnchor: [16, -30]
        }),
        serviceIcon = new LeafIcon({
            iconUrl: "{{ url('/plugins/deptech/mpmrent/assets/leaflet/images/service.png') }}",
            iconSize:    [20, 20],
            shadowSize:  [25, 25],
            iconAnchor:  [1, 20],
            popupAnchor: [7, -7],
            tooltipAnchor: [16, -28]
        });

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'MPM Rent',
            id: 'mapbox/light-v9',
            tileSize: 512,
            zoomOffset: -1
        }).addTo({{ map.mapfieldId }});
        function style(feature) {
            return {
                weight: 3,
                opacity: 1,
                color: '#FFFFFF',
                fillOpacity: 1,
                fillColor: '#FFFFFF'
            };
        }
        {{ map.mapfieldId }}.dragging.disable();
        {{ map.mapfieldId }}.touchZoom.disable();
        {{ map.mapfieldId }}.doubleClickZoom.disable();
        {{ map.mapfieldId }}.scrollWheelZoom.disable();
        $.getJSON("{{ url('/plugins/deptech/mpmrent/assets/world.geo.json/IDN.geo.json') }}").then(function(geoJSON) {
            var osm = new L.TileLayer.BoundaryCanvas("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                boundary: geoJSON,
            });
            {{ map.mapfieldId }}.addLayer(osm);
            var indoLayer = L.geoJSON(geoJSON, {
                style: style
            }).addTo({{ map.mapfieldId }});;
            {{ map.mapfieldId }}.fitBounds(indoLayer.getBounds());
        });

        var paramters = {};
        {% for object in map.objectsToDisplay %}
            parameters = {};

            {% if object.type == '1' %}
                parameters['icon'] = headOfficeIcon;
            {% elseif object.type == '2' %}
                parameters['icon'] = branchIcon;
            {% elseif object.type == '3' %}
                parameters['icon'] = serviceIcon;
            {% else %}
                    parameters['icon'] = defaultIcon;
            {% endif %}

            parameters['draggable'] = false;
            var asdasd{{ loop.index }} = {{ object.type }};
            var mapObject{{ loop.index }} = L.marker([{{ object.position|trim }}], parameters).addTo({{ map.mapfieldId }});
            {% if object.name %}
                mapObject{{ loop.index }}.bindPopup(`{{ object.popup|replace({"\n":'', "\r":''})|trim|raw }}`);
            {% endif %}
        {% endfor %}
    </script>
{% endput %}
