<div class="f-carousel">
    <div class="owl-carousel owl-theme" id="owl-index">
        {% set index_slider_item = 0 %}
        {% for slider_item in sliders %}
            <div class="item">
                <div class="desc-carousel">
                    <div class="container">
                            <p class='slide-title'>{{ slider_item.title }}</p>
                            <a href="{{ 'about-us'|page }}" class="btn btn-orange">{{ 'learn.more'|_ }}</a>
                    </div>
                </div>
                <img src="{{slider_item.images|media}}">
            </div>
        {% set index_slider_item = index_slider_item + 1 %}
        {% endfor %}
    </div>
</div>