<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10 offset-lg-1 pb-5 text-center thank-you">
                <div class=''>
                    <h1 class='text-uppercase mb-3'>Page Not Found!</h1>
                    <p class='error-codes-text'>404</p>
                    <p class="mt-5 desc">The page you are looking for does not exist. Please <a href='{baseUrl}/contact'>contact us</a> or use the navigation below for other searches.</p>
                    <a onclick="window.history.back();" class="btn btn-orange mr-3">Previous Page</a>
                    <a href="{baseUrl}" class="btn btn-orange mr-3">Homepage</a>
                </div>
                <!-- <a href="{baseUrl}" class="btn btn-primary">Back to homepage</a> -->
            </div>
        </div>
    </div>
</div>