<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10 offset-lg-1 pb-5 text-center thank-you">
                <div class=''>
                    <h1 class='text-uppercase mb-3'>Halaman Tidak Ditemeukan!</h1>
                    <p class='error-codes-text'>404</p>
                    <p class="mt-5 desc">Mohon maaf kami tidak dapat menemukan halaman yang Anda cari. Silakan <a href='{baseUrl}/contact'>hubungi kami</a> atau gunakan navigasi atau form dibawah ini untuk pencarian lainnya.</p>
                    <a onclick="window.history.back();" class="btn btn-orange mr-3">Halaman Sebelumnya</a>
                    <a href="{baseUrl}" class="btn btn-orange mr-3">Homepage</a>
                </div>
                <!-- <a href="{baseUrl}" class="btn btn-primary">Back to homepage</a> -->
            </div>
        </div>
    </div>
</div>