<form data-request="{{__SELF__}}::onSubmit" class="form-contact" data-request-flash  data-request-validate>
    <div class="mb-3">
        <input type="text" name="name" placeholder="{{ 'order_name'|_ }}" class="form-control">
    </div>
    <div class="mb-3">
        <input type="email" name="email" placeholder="Email" class="form-control">
    </div>
    <div class="mb-3">
        <input type="text" name="phone" placeholder="{{ 'order_phone_number'|_ }}" class="form-control">
    </div>
    <div class="mb-3">
        <select class="form-control" name='ref_service_id'>
            <option disabled selected>{{ 'order_choose_service'|_}}</option>
            {% for service in services %}
            <option value="{{ service.id }}">{{ service.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input type="text" name="company_name" placeholder="{{ 'order_company_name'|_ }}" class="form-control">
    </div>
    <div class="mb-3">
        <input type="text" name="company_phone" placeholder="{{ 'order_company_phone'|_ }}" class="form-control">
    </div>
    <div class="mb-3">
        <input type="text" name="position" placeholder="{{ 'order_position'|_ }}" class="form-control">
    </div>
    <div class="mb-3">
        <select class="form-control" name='region'>
            <option disabled selected>{{ 'order_region'|_}}</option>
            {% for region in regions %}
            <option value="{{ region.id }}">{{ region.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <select class="form-control" name='eligible_to_contact'>
            <option disabled selected>{{'order_eligible_to_contact'|_}}</option>
            <!-- <option value="Immediately">{{'order_immediately'|_}}</option>
            <option value="Weekend">{{'order_weekend'|_}}</option>
            <option value="Office Hours">{{'order_office_hours'|_}}</option>
            <option value="After Office Hours">{{'order_after_office_hours'|_}}</option> -->
            {% for hour in contact_hour %}
            <option value="{{ hour.id }}">{{ hour.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <select class="form-control" name='service_needed'>
            <option disabled selected>{{'order_service_needed'|_}}</option>
            {% for service in service_needed %}
            <option value="{{ service.id }}">{{ service.name }}</option>
            {% endfor %}
            <!-- <option value="< 3 Month">{{'order_morethen_3_months'|_}}</option>
            <option value="> 3 Month">{{'order_lessthen_3_months'|_}}</option> -->
            <!-- <option value="3 Months">3 Months</option> -->
            <!-- <option value="6 Months">6 Months</option> -->
            <!-- <option value="12 Months">12 Months</option> -->
        </select>
    </div>
    <div class="text-right">
        <button class="btn btn-orange px-5">{{ 'SEND'|_ }}</button>
    </div>
</form>