title = "Homepage"
url = "/"
layout = "default"
description = "Homepage"
meta_title = "MPM Rent | A Leading Car Rental Company in Indonesia"
meta_description = "MPM Rent: The largest car rental company provides car rental for personal and business. Professional car rental services in Jakarta, Indonesia."
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeMeta_title[id] = "MPM Rent | Perusahaan Rental Mobil Terbesar di Indonesia 2021"
localeMeta_description[id] = "MPM Rent sebagai jasa rental mobil terbesar di Indonesia, melayani juga untuk sewa mobil bulanan perusahaan, sewa mobil Jakarta pelayanan yang profesional"

[slider]

[testimonial]

[partner]

[client]

[SeoPage]

[rating]
rate = "{{ :rate }}"
==
{% component 'slider' %}
{% partial 'homepage/rent_type' %}
<div class="container-fluid cf-service-index">
    <div class="container">
        <div class="title-section c-white">
            <h2 class="color-white">{{  'our.services'|_ }}</h2>
        </div>
        <div class="subtitle-section">
            <h5 class="color-white">{{ 'home_service.subtitle_section'|_ }}</h5>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 pt-3">
                <div class="card-flex card-flex--three">
                    <div class="card-flex-item cfi-services">
                        <a href="{{ 'services'|page }}#long_term_rental" id="event-hp-long-term">
                            <div class="thumbnail"><img src="{{ 'assets/images/longterm2x.webp'|theme }}"></div>
                            <h4 class="title-list-services">{{ 'long.term.rental'|_ }}</h4>
                        </a>
                    </div>
                    <div class="card-flex-item cfi-services">
                        <a href="{{ 'services'|page }}#short_term_rental" id="event-hp-short-term">
                            <div class="thumbnail"><img src="{{ 'assets/images/IMG_2387@2x.webp'|theme }}"></div>
                            <h4 class="title-list-services">{{ 'short.term.rental'|_ }}</h4>
                        </a>
                    </div>
                    <div class="card-flex-item cfi-services">
                        <a href="{{ 'services'|page }}#fleet_management_system" id="event-hp-fms">
                            <div class="thumbnail"><img src="{{ 'assets/images/apps2x.webp'|theme }}"></div>
                            <h4 class="title-list-services">{{ 'fleet.management.system'|_ }}</h4>
                        </a>
                    </div>
                    <div class="card-flex-item cfi-services">
                        <a href="{{ 'services'|page }}#driver_services" id="event-hp-driver-services">
                            <div class="thumbnail"><img src="{{ 'assets/images/driver services@2x.webp'|theme }}"></div>
                            <h4 class="title-list-services">{{ 'driver.services'|_ }}</h4>
                        </a>
                    </div>
                    <div class="card-flex-item cfi-services">
                        <a href="{{ 'services'|page }}#auction_and_pre-owned_car" id="event-hp-auction">
                            <div class="thumbnail"><img src="{{ 'assets/images/auction2x.webp'|theme }}"></div>
                            <h4 class="title-list-services">{{ 'auction.and.pre-owned.car'|_ }}</h4>
                        </a>
                    </div>
                    <div class="card-flex-item cfi-services">
                        <div class="col-md-12 text-center service-more">
                            <a href="{{ 'services'|page }}" class="btn btn-white">{{ 'learn.more'|_ }}</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="container-fluid cf-white">
    <div class="container">
        {# component 'client' #}
        {% component 'testimonial' %}
    </div>
</div>
<div class="container-fluid cf-service-index">
    <div class="container">
        <div class="title-section c-white text-left">
            <h1 class="color-white">MPM<i>Rent</i> Perusahaan Rental Mobil Terkemuka di Indonesia</h1>
        </div>
        <p class="color-white">MPM<i>Rent</i> salah satu perusahaan penyewaan kendaraan terkemuka di Indonesia, memahami setiap detil kebutuhan bisnis dan memastikan solusi terbaik yang dipersonalisasi sesuai kebutuhan Anda.</p>
        <p class="color-white">Berbagai jenis kendaraan dan penawaran sewa kendaraan menarik tersedia untuk Anda! Kami memiliki rangkaian lengkap kendaraan yang siap memenuhi kebutuhan Anda, baik untuk usaha maupun untuk keperluan pribadi. Seperti:</p>
        <ul class="color-white">
            <li>Mobil Mewah</li>
            <li>Mobil Penumpang</li>
            <li>Kendaraan Logistik</li>
            <li>Kendaraan Heavy Duty</li>
        </ul>
        <p class="color-white">Sebagai perusahaan jasa yang mengutamakan kepuasan pelanggan, kami menjamin setiap armada kami selalu dalam kondisi prima dan senantiasa memberikan layanan penyewaan mobil yang mudah, cepat, dan bebas repot. Berikut adalah layanan dari MPM<i>Rent</i>:</p>
        <h2 class="color-white" style="font-size: 1.5rem">Rental Jangka Panjang</h2>
        <p class="color-white">Kami selalu siap untuk memenuhi setiap kebutuhan transportasi Anda, baik itu kebutuhan kendaraan niaga maupun kendaraan penumpang. Seluruh layanan kami meliputi pemeliharaan, klaim asuransi, bantuan selama 24 jam, dan penyediaan mobil pengganti.</p>
        <h2 class="color-white" style="font-size: 1.5rem">Rental Jangka Pendek</h2>
	    <p class="color-white">Layanan sewa kendaraan yang fleksibel untuk memenuhi kebutuhan transportasi Anda untuk jangka waktu sewa harian, mingguan, atau bulanan. Seluruh layanan kami meliputi pemeliharaan, klaim asuransi, bantuan selama 24 jam, dan penyediaan mobil pengganti</p>
	    <h2 class="color-white" style="font-size: 1.5rem">Fleet Management System</h2>
        <p class="color-white">Layanan khusus dari MPM<i>Rent</i>, Fleet Management System, yaitu layanan penyewaan kendaraan khusus dan penyedia layanan pengemudi jangka panjang antara perusahaan dan pelanggan dimana perusahaan akan menempatkan dispatcher di lokasi customer pool yang telah disepakati.</p>
	    <h2 class="color-white" style="font-size: 1.5rem">Pelayanan Man Power</h2>
        <p class="color-white">Untuk melengkapi layanan penyewaan kendaraan, melalui PT DSS, MPM<i>Rent</i> juga menyediakan layanan tenaga kerja berkualitas seperti layanan pengemudi, layanan kebersihan, layanan keamanan, dan layanan pendukung lainnya.</p>
    	<h2 class="color-white" style="font-size: 1.5rem">Balai Lelang dan Jual Beli Mobil Bekas</h2>
        <p class="color-white">Balai lelang kami, Auksi, terbuka untuk perusahaan dan perorangan yang ingin menjual kendaraan bermotor. Kami mengadakan kegiatan lelang di Jakarta dan beberapa kota di Indonesia yang dilakukan dengan proses yang transparan dan ditangani oleh para tim profesional.</p>
	    <p class="color-white">Selain itu MPM<i>Rent</i> memiliki divisi khusus, Japanese Client Business Unit (JCBU) untuk menangani pelanggaan kami yang berasal dari perusahaan dan expatriat dari Jepang.</p>
	    <p class="color-white">Mitra MPM<i>Rent</i> lainnya berasal dari perusahaan perbankan, manufaktur, distribusi & logistik, serta berbagai perusahaan lainnya di Indonesia.</p>
	    <p class="color-white">Kenapa harus sewa di MPM<i>Rent</i>?</p>
       	<ul class="color-white">
        <li>MPM<i>Rent</i> memiliki 13.000 unit armada dengan berbagai merek dan varian</li>
	    <li>MPM<i>Rent</i> memiliki 1.500 driver yang berkualitas</li>
	    <li>MPM<i>Rent</i> memiliki Touch Point yang tersebar di seluruh Indonesia</li>
	    <li>MPM<i>Rent</i> menawarkan harga yang kompetitif</li>
	    <li>MPM<i>Rent</i> memiliki divisi khusus untuk perusahaan dan expatriate dari Jepang, JCBU</li>
	    <li>MPM<i>Rent</i> memiliki layanan layanan contact center 24 jam / 7 hari melalui WA Business (08138 1500068) dan telp 1500068</li>
	    </ul>
	    <p class="color-white">MPM<i>Rent</i> saat ini telah memiliki 8 Kantor Cabang dan 17 cabang representatif, sehingga total keseluruhan 25 <i>touch points</i> di Indonesia. MPM<i>Rent</i> saat ini juga memiliki armada sebanyak 13.000-unit terdiri dari <i>luxury</i> dan <i>passenger car</i>, kendaraan logistik, serta <i>heavy duty</i>. MPM<i>Rent</i> juga telah bekerja sama dengan beberapa bengkel rekanan yang tersebar di seluruh Indonesia.</p>
	    <p class="color-white">MPM<i>Rent</i> juga memiliki sertifikasi SNI 14001:2015, ISO 45001:2018, ISO 9001:2015 dan SMK3 guna menjamin keselamatan kerja dan kenyamanan para pelanggan dalam menggunakan jasa yang disediakan MPM<i>Rent</i>.</p>
	    <p class="color-white">Untuk menemukan layanan transportasi yang paling tepat untuk keperluan bisnis maupun kebutuhan pribadi. Silahkan kunjungi <a href="https://www.mpm-rent.com" class="color-white">www.mpm-rent.com.</a></p>
    </div>
</div>