{% put meta_static %}
{% default %}
    {% if __SELF__.redirect_url %}
        <meta http-equiv="refresh" content="0; url={{__SELF__.redirect_url}}" />
    {% endif %}

    {% if __SELF__.seo_title %}
        <!-- <title>{{__SELF__.seo_title | generateTitle}}</title> -->
        <meta name="title" content="{{__SELF__.seo_title}}">
    {% endif %}

    {% if __SELF__.seo_description %}
        <meta name="description" content="{{__SELF__.seo_description}}">
    {% endif %}

    {% if __SELF__.seo_keywords %}
        <meta name="keywords" content="{{__SELF__.seo_keywords}}">
    {% endif %}

    {% if __SELF__.canonical_url %}
        <link rel="canonical" href="{{__SELF__.canonical_url}}" />
    {% else %}
        {{ '' | generateCanonicalUrl}}
    {% endif %}

    {% if __SELF__.robot_index and __SELF__.robot_follow %}
        <meta name="robots" content="{{__SELF__.robot_index}},{{__SELF__.robot_follow}}">
    {% endif %}

    {{ ''|otherMetaTags|raw }}

    {{ __SELF__|generateOgTags }}
    
    {{ __SELF__|generateTwitterTags }}
{% endput %}

    
