{% for post in posts %}
<div class="media-services m-news">
    <div class="media-left">
    	{% if post.images.path %}
        <div class="thumbnail"><img src="{{	post.images.path }}" alt='{{ post.images.title }}'></div>
        {% else %}
        <div class="thumbnail"><img src="{{	'assets/images/no-image.png'|theme }}" alt='No Image'></div>
    	{% endif %}
    </div>
    <div class="media-body">
        <div class='d-flex'>
            <div class='news-title '>
                <a class='text-decoration-none' href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
            </div>
            <div class="socmed-detail order-2 ml-auto">
                <a href="#" data-url="{{ post.url }}" class='share-linkedin'><img src="{{ 'assets/images/linkedin-dark.png'|theme }}"></a>
                <a href="#" data-url="{{ post.url }}" class='share-facebook'><img src="{{ 'assets/images/facebook-dark.png'|theme }}"></a>
                <!-- <a href="#" data-url="{{ post.url }}" class='share-twitter'><img src="{{ 'assets/images/twitter-dark.png'|theme }}"></a> --->
            </div>
        </div>
        <p>{{ post.description|slice(0,400)|raw }}</p>
        <a href="{{ post.url }}" class="link-list-news">{{ 'read.more'|_ }}</a>
    </div>
</div>
{% endfor %}

{% if posts.lastPage > 1 %}
	<div class="text-center">
	    <ul class="pagination-news">
	    	{% for page in 1..posts.lastPage %}
	            <li class="{{ posts.currentPage == page ? 'active' : null }}"><a href="{{ this.page.baseFileName | page({ (__SELF__.pageParam): page }) }}"><span></span></a></li>
	        {% endfor %}
	    </ul>
	</div>
{% endif %}