<!-- <div class="container-fluid cf-orange booking-section">
    <div class="container">
        <div class="text-center">
            <div>
                <h1 class="title mb-5">Booking Sekarang Juga !</h1>
                <a href="{{ 'homepage'|page }}" class="btn btn-orange">Booking Sekarang</a>
            </div>
        </div>
    </div>
</div> -->