==
<a href="https://wa.me/{{ 'whatsapp'|getSettings|replace({' ': '' }) }}?text={{ 'whatsapp_text'|getSettings }}" target="_blank" class="btn btn-wa"><img src="{{ 'assets/images/whatsapp.png'|theme }}"> <span>WhatsApp Business</span></a>
<!--<a href="https://wa.me/6281381500068" class="btn btn-wa"><img src="{{ 'assets/images/whatsapp.png'|theme }}"> <span>WhatsApp Business</span></a>-->
<!-- <a href="#" class="btn btn-live-chat"><img src="{{ 'assets/images/speech-bubble.png'|theme }}"> <span>Send Message</span></a> -->
<!-- <a href="#" class="btn btn-live-chat" style="opacity: 0"><img src="{{ 'assets/images/speech-bubble.png'|theme }}"> <span>Live Chat</span></a> -->