{% if hasNews %}
    {% placeholder meta default %}

    {% endplaceholder %}

{% elseif hasStatic %}
    {% placeholder meta_static default %}

    {% endplaceholder %}
{% else %}

    {% if __SELF__.redirect_url %}
        <meta http-equiv="refresh" content="0; url={{__SELF__.redirect_url}}" />
    {% endif %}

    {% if __SELF__.seo_title %}
        <!-- <title>{{__SELF__.seo_title | generateTitle}}</title> -->
        <meta name="title" content="{{__SELF__.seo_title}}">
    {% endif %}

    {% if __SELF__.seo_description %}
        <meta name="description" content="{{__SELF__.seo_description}}">
    {% endif %}

    {% if __SELF__.seo_keywords %}
        <meta name="keywords" content="{{__SELF__.seo_keywords}}">
    {% endif %}

    {% if __SELF__.canonical_url %}
        <link rel="canonical" href="{{__SELF__.canonical_url}}" />
    {% else %}
        {{ '' | generateCanonicalUrl}}
    {% endif %}

    {% if __SELF__.robot_index and __SELF__.robot_follow %}
        <meta name="robots" content="{{__SELF__.robot_index}},{{__SELF__.robot_follow}}">
    {% endif %}

    {{ ''|otherMetaTags|raw }}

    {% if __SELF__.ogTitle %}
        <meta property="og:title" content="{{ __SELF__.ogTitle }}" />
    {% endif %}

    {% if __SELF__.ogUrl %}
        <meta property="og:url" content="{{ __SELF__.ogUrl }}" />
    {% endif %}

    {% if __SELF__.ogSiteName %}
        <meta property="og:site_name" content="{{ __SELF__.ogSiteName }}" />
    {% endif %}

    {% if __SELF__.ogDescription %}
        <meta property="og:description" content="{{ __SELF__.ogDescription }}" />
    {% endif %}

    {% if __SELF__.ogFbAppId %}
        <meta property="fb:app_id" content="{{ __SELF__.ogFbAppId  }}" />
    {% endif %}

    {% if __SELF__.twitterCard %}
        <meta property="twitter:card" content="{{ __SELF__.twitterCard }}" />
    {% endif %}

    {% if __SELF__.twitterTitle %}
        <meta property="twitter:title" content="{{ __SELF__.twitterTitle }}" />
    {% endif %}

    {% if __SELF__.twitterUrl %}
        <meta property="twitter:url" content="{{ __SELF__.twitterUrl }}" />
    {% endif %}

    {% if __SELF__.twitterSiteName %}
        <meta property="twitter:site_name" content="{{ __SELF__.twitterSiteName }}" />
    {% endif %}

    {% if __SELF__.twitterDescription %}
        <meta property="twitter:description" content="{{ __SELF__.twitterDescription }}" />
    {% endif %}

{% endif %}
