<div class="title-section mt-5">
    <h2>{{ 'our.clients'|_ }}</h2>
</div>
<div class="card-flex card-flex--five justify-content-center">
    {% for partner in partners %}
    <div class="card-flex-item cfi-partners">
        <a href="{{ partner.link }}">
            <img src="{{ partner.images|media }}">
        </a>
    </div>
    {% endfor %}
</div>