<a data-toggle="modal" href="#popup<?=$record->id?>" style='display: block;'><i class="icon-search"></i> View Messages</a>

<div class="control-popup modal fade" id="popup<?=$record->id?>" style='color:#000'>
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header">
                <h4 class="modal-title" style='color:#000'><i class="icon-envelope"></i> <?=nl2br($record->subject)?> (<?=nl2br($record->company_name)?>)</h4>
            </div>
            <div class="modal-body">
                <?=nl2br($record->message)?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>