<div class="title-section mt-5">
    <h2>{{ 'our.clients'|_ }}</h2>
</div>
<div class="card-flex card-flex--three justify-content-center">
    <div class="card-flex-item cfi-clients">
        <p class='font-weight-bold' href="">{{ 'Japanese Clients'|_ }}</p>
        <div class="col-12 container">
            <ul class="list-unstyled row">
                {% for client in clients %}
                    {% if client.type == 1 %}
                        <li class="list-item my-auto col-6 py-2">
                            <img src="{{ client.image|media }}">
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="card-flex-item cfi-clients">
        <p class='font-weight-bold' href="">{{ 'multi.national.company'|_ }}</p>
        <div class="col-12 container" style="height: 350px;">
            <ul class="list-unstyled row">
                {% for client in clients %}
                    {% if client.type == 2 %}
                        <li class="list-item my-auto col-6 py-2">
                            <img src="{{ client.image|media }}">
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="card-flex-item cfi-clients">
        <p class='font-weight-bold' href="">{{ 'local.company'|_ }}</p>
        <div class="col-12 container" style="height: 350px;">
            <ul class="list-unstyled row">
                {% for client in clients %}
                    {% if client.type == 3 %}
                        <li class="list-item my-auto col-6 py-2">
                            <img src="{{ client.image|media }}">
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>