<div class="title-section text-left">
    <h2>{{ 'meet.our.people'|_ }}</h2>
</div>
<div class="col-md-12 col-carousel-career pb-5 pt-5">
    <div class="f-carousel-career">
        <div class="owl-carousel owl-theme" id="owl-career">
            {% for profile in profiles %}
            <div class="item">
                <div class="media-career">
                    <div class="media-left">
                        <div class="thumbnail"><img src="{{ profile.images|media }}"></div>
                    </div>
                    <div class="media-body">
                        <h3>{{  profile.name }}</h3>
                        <h4>{{  profile.position }}</h4>
                        {{  profile.description|raw }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>