<div class="container-fluid page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>個人情報保護方針</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="text-content">
                    <h4>レビュー</h4>
                    <p>このウェブサイトは、PT Mitra Pinasthika Mustikaが所有および管理しインドネシア共和国で登録されており、以下「MPMRent」または「Us」と表記します。このプライバシーポリシーでは、収集した個人データの使用目的をご説明致します。</p>
                    
                    <p>当社が取得した、氏名、メールアドレス、電話番号の情報は、サービスやその他のサービスのご案内、問い合わせ、またはその他必要がある場合に私用されます。お客様の同意なしに、第三者に情報を販売または開示、提供することはありません。<p>

                    <p>この個人情報保護方は、このWebサイトから取得した情報のみを対象としており、サイトからダウンロードしたソフトウェア、またはこのサイトにリンクしている他のサイトから取得したソフトウェアから取得した情報は対象外となります。<p>

                    <h4>収集する情報</h4>
                    <p>当社は名前、電話番号、電子メールアドレスなど、個人データの情報を保存します。また、個人を特定できない情報についても収集致します。これらの情報は、IPアドレスなどの個人データや、特定の検索に関連する検索設定にリンクされている場合があります。</p>

                    <p>データを使用し、お客様のニーズに対応、お問い合わせに対する回答、ご要望に対応するために使用いたします。</p>
                    
                    <h4>セキュリティ</h4>
                    <p>収集したすべての情報は、データの不正アクセス、不正使用を防止するための適正な方法とセキュリティによって保護されます。当社社員および社外サのサービスプロバイダーは、インドネシア共和国の法律および規定に従従い、セキュリティとプライバシーの要件に従って情報を管理することをお約束致します。<p>

                    <h4>Cookies</h4>
                    <p>Cookieは、コンピュータのブラウザまたはモバイルデバイスに配置される少量の情報を含むファイルです。クッキーを使用する事で、当社ウェブサイトはお客様の好み等を記憶することができます。<p>
                    <p>Cookieを使用して、ユーザーのコンテンツ操作方法を学習し、ユーザーの興味やニーズに応じてサービス製品やWebサイトをカスタマイズします。 Cookieは、当社のWebサイトでのユーザーの行動に関するデータを収集し、ターゲットを絞った広告をWebサイトに表示する機能がまた、第三者が当社の製品とサービスをユーザーにご案内する機能があります。</p>

                    <p>ほとんどのWebサイトでは、Cookieの受け入れは自動的に設定されます。特定のCookieが保存される前に警告を受け取るようにブラウザの設定を変更するか、第三者から特定のCookieを選択するか、保存されているCookieを削除することにより、サイトへのアクセスに基づいてCookieを拒否またはブロックすることができます。</p>


                    <h4>他のサイトへのリンク</h4>
                    <p>他のウェブサイトやアプリケーションへのリンクを提供できます。これらのサイトに個人情報を送信した場合、お客様の情報はそれらのプライバシーポリシーによって管理され、当社の責任ではありません。</p>


                    <h4>プライバシーポリシーの変更</h4>
                    <p>このプライバシーポリシーは随時更新される可能性があり、このページを随時確認することをお勧めします。当社のサイトとサービスを継続して使用することにより、このプライバシーポリシーの更新に引き続きサービスを使用することに同意したことになります。</p>

                    <h4>お問い合わせ</h4>
                    <p>このプライバシーポリシーの条件を読み、理解頂く事が重要です。当社の個人情報の取り扱いについて質問がある場合は、contact@mpm-rent.com宛てにメールをお送りください。</p>
                </div>
            </div>
        </div>
    </div>
</div>