<div class="container-fluid page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Kebijakan Privasi</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="text-content">
                    <h4>Review</h4>
                    <p>Situs web ini dimiliki dan dikelola oleh PT Mitra Pinasthika Mustika Rent. Terdaftar di Republik Indonesia, selanjutnya disebut "MPMRent" atau disebut juga "Kami". Dalam kebijakan privasi ini, kami membantu Anda untuk memahami penggunaan data pribadi yang kami kumpulkan.</p>
                    
                    <p>Data yang kami terima berupa nama, alamat email, dan nomor telepon kami gunakan untuk memenuhi permintaan, pertanyaan atau kebutuhan kerjasama untuk penyediaan layanan dan/atau kebutuhan bisnis lainnya. Kami tidak menjual atau menyebarkan data Anda kepada pihak lain tanpa persetujuan Anda.<p>

                    <p>Kebijakan Privasi ini hanya mencakup informasi yang diperoleh melalui situs web ini dan tidak mencakup informasi yang mungkin diperoleh melalui perangkat lunak yang diunduh atau diperoleh dari situs lain yang terhubung ke situs ini.<p>

                    <h4>Informasi yang Kami Kumpulkan</h4>
                    <p>Kami menyimpan informasi dari data pribadi Anda termasuk nama, nomor telepon, serta alamat email Anda. Kami juga mengumpulkan informasi yang tidak dapat diidentifikasi secara pribadi, yang mungkin ditautkan ke data pribadi Anda, termasuk alamat IP Anda, dan preferensi pencarian yang terkait dengan pencarian tertentu.</p>

                    <p>Kami akan menggunakan data tersebut untuk memproses kebutuhan Anda dan menjawab pertanyaan serta memenuhi permintaan layanan Anda.</p>
                    
                    <h4>Keamanan</h4>
                    <p>Semua informasi yang dikumpulkan dilindungi melalui metode dan prosedur keamanan yang wajar untuk mencegah akses dan penggunaan data yang tidak sah. Kolega dan penyedia layanan pihak ketiga  yang kami tunjuk telah berkomitmen untuk mengelola informasi sesuai dengan persyaratan demi keamanan dan sesuai dengan ketentuan yang berlaku di peraturan undang-undangan Republik Indonesia.<p>

                    <h4><i>Cookies</i></h4>
                    <p><i>Cookies</i> adalah file yang berisi sejumlah kecil informasi yang ditempatkan di browser komputer atau perangkat seluler Anda. Dengan <i>cookie</i>, situs web kami dapat mengingat tindakan dan preferensi Anda dari waktu ke waktu.<p>
                    <p>Di sebagian besar situs web, penerimaan <i>cookie</i> diatur secara otomatis. Anda dapat memilih untuk menolak atau memblokir <i>cookie</i> pada situs kami dengan mengubah pengaturan <i>browser</i> di perangkat Anda, sehingga Anda akan menerima peringatan sebelum <i>cookie</i> tertentu disimpan atau dengan menghapus cookie yang telah tersimpan.</p>

                    <p>On most websites, acceptance of cookies is set automatically. You can choose to reject or block cookies based on your visit to our site by changing your browser settings so that you receive a warning before certain cookies are stored, choose certain cookies from third parties or by deleting cookies that have been stored.</p>


                    <h4>Tautan ke Situs Lain</h4>
                    <p>Situs web kami dapat terhubung ke situs web atau aplikasi lainnya. Jika Anda mengirimkan informasi pribadi ke situs tersebut, maka kebijakan terhadap data Anda diatur oleh kebijakan privasi setiap situs web tersebut dan bukan sepenuhnya tanggung jawab kami.</p>


                    <h4>Perubahan Kebijakan Privasi</h4>
                    <p>Kami dapat memperbarui kebijakan privasi ini sewaktu-waktu dan Anda disarankan untuk memeriksa halaman ini secara berkala. Jika Anda secara terus menerus menggunakan situs dan layanan kami, berarti Anda menyetujui setiap pembaruan kebijakan privasi yang kami buat.</p>

                    <h4>Kontak Kami</h4>
                    <p>Penting bagi Anda untuk meluangkan waktu untuk membaca, memahami dan menerima ketentuan kebijakan privasi ini. Jika Anda memiliki pertanyaan tentang penanganan informasi pribadi, Anda dapat sampaikan melalui email di contact@mpm-rent.com</p>
                </div>
            </div>
        </div>
    </div>
</div>