<div class="container-fluid page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Privacy Policy</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="text-content">
                    <h4>Review</h4>
                    <p>This website is owned and controlled by PT Mitra Pinasthika Mustika Rent. Registered in the Republic of Indonesia, hereinafter referred to as "MPMRent" or also called "Us". In this privacy policy, we help you to understand the use of your personal data that we have collected.</p>
                    
                    <p>The information we have received in the form of a name, e-mail address, and telephone number is used to fulfill requests, inquiries or cooperation needs for services and / or other business needs. We do not sell or provide information to other parties without your consent.<p>

                    <p>This Privacy Policy only covers information obtained through this website and does not cover information that might be obtained through software downloaded from the site or obtained from other sites linked to this site.<p>

                    <h4>Information We Collect</h4>
                    <p>We store information from your personal data including your name, telephone number or e-mail address. We also collect non-personally identifiable information, which may be linked to your personal data, including your IP address, and search preferences related to specific searches.</p>

                    <p>We will use the data to process your needs and answer questions and fulfill your service requests.</p>
                    
                    <h4>Security</h4>
                    <p>All information collected is protected through reasonable methods and security procedures to prevent unauthorized access and use of data. Our colleagues and third-party service providers have committed to managing information in accordance with our requirements for security and privacy in accordance with applicable provisions in the laws and regulations of the Republic of Indonesia.<p>

                    <h4>Cookies</h4>
                    <p>Cookies are files that contain a small amount of information that is placed in your computer's browser or mobile device. With cookies, our website can remember your actions and preferences from time to time.<p>
                    <p>We use cookies to learn how you interact with our content and to customize our service products and website according to your interests and needs. Cookies also function to collect data about your behavior on our website to display targeted advertisements on the website. Third parties in order to remind and market our products and services to you.</p>

                    <p>On most websites, acceptance of cookies is set automatically. You can choose to reject or block cookies based on your visit to our site by changing your browser settings so that you receive a warning before certain cookies are stored, choose certain cookies from third parties or by deleting cookies that have been stored.</p>


                    <h4>Links to Other Sites</h4>
                    <p>We can provide links to other websites or applications. If you submit personal information to these sites, your information is governed by their privacy policy and is not entirely our responsibility.</p>


                    <h4>Changes to Privacy Policy</h4>
                    <p>We may update this privacy policy at any time and you are advised to check this page from time to time. By continuing to use our site and services, you affirm your agreement to continue using the service for any updates to this privacy policy.</p>

                    <h4>Contact us</h4>
                    <p>It is important that you take the time to read, understand and accept the terms of this privacy policy. If you have questions about handling our personal information, you can write us an e-mail at contact@mpm-rent.com</p>
                </div>
            </div>
        </div>
    </div>
</div>