@media screen and (max-width: 1199px) {
	.desc-carousel h1 {
		font-size: 43px;
	}
	.nav-tabs-center .nav-tabs {
		display: flex;
	}
	.nav-tabs-center .nav-tabs .nav-item {
		width: 33.333%;
	}
	.nav-tabs-center .nav-tabs .nav-link {
		width: auto;
	}
	.media-flex-contact .media-right {
		width: 600px;
	}
	.media-thumbnail-career .thumbnail img {
		height: 100%;
		width: auto;
	}
}

@media screen and (max-width: 991px) {
	.navbar-light .navbar-nav .nav-item {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-light .dropdown-toggle::after {
		display: none;
	}
	.navbar-light .navbar-nav .nav-item.active .nav-link:before {
		height: 1px;
	}
	.logo {
		width: 110px;
	}
	.top-contact .flag {
		margin-top: 2px;
	}
	.nav-dark-top {
	    display: inline-block;
	    margin-right: 70px;
	}	
	.nav-dark-top.jcbu-header {
	    margin-right: 0;
	}
	.nav-dark-top .container {
		width: auto;
	    max-width: none;
	    display: inline-block;
	}
	.contact-center img {
		margin-left: 5px;
		margin-right: 5px;
	}
	.sticky .nav-dark-top {
		max-height: none;
	}
	.navbar-light .navbar-nav .nav-link, 
	.sticky.navbar-light .navbar-nav .nav-link {
		padding: 10px 0;
	}
	.sticky .navbar-collapse,
	.navbar-collapse {
		border-top: 1px solid #F26F21;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.navbar-light .container {
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.navbar-light .dropdown-menu {
		border-color: #F26F21;
		display: none !important;
	}
	body {
		padding-top: 80px;
	}
	.desc-carousel h1 {
		font-size: 30px;
	}
	.fl-testi .thumbnail {
		width: 100px;
		height: 100px;
	}
	.desc-testi h5, .desc-testi h3 {
		font-size: 16px;
	}
	.desc-testi p {
		font-size: 14px;
	}
	.footer-logo {
		padding-right: 30px;
	}
	.desc-carousel h2 {
		max-width: none;
		font-size: 18px;
	}
	.media-about-us {
		display: block;
	}
	.media-about-us .media-right {
		display: block;
		text-align: center;
	}
	.media-about-us .media-right iframe {
		max-width: 100%;
	}
	.media-about-us .media-body {
		display: block;
		padding-right: 0;
		margin-bottom: 30px;
	}
	.desc-list-about h3 {
		font-size: 18px;
	}
	.media-services .media-left {
		padding-right: 30px;
	}
	.media-services .media-right {
		padding-left: 30px;
	}
	.media-career p {
		font-size: 16px;
	}
	.media-career .media-left {
		padding-right: 30px;
	}
	.media-flex-contact .media-right {
		width: 350px;
	}
	.media-thumbnail-career .media-left, .media-thumbnail-career .media-right {
		width: 48%;
	}
	.desc-career {
		padding-left: 20px;
	}
	.dc-right {
		padding-left: 0;
	}
	#milestone video {
	    width: 750px;
	}
	.jcbu {
	    margin-left: 0;
	    margin-right: 0;
	    margin-bottom: 0;
	}
	.jcbu .thumbnail {
	    width: 315px;
	    height: 210px;
	}
	.jcbu p, .jcbu li {
	    font-size: 16px;
	}
	.jcbu-title {
		font-size: 25px;
	}
	.jcbu .media-right {
	    padding-left: 30px;
	}
}
@media screen and (max-width: 767px) {
	.top-contact {
		display: block;
		margin-top: 11px;
	}
	.contact-center {
		font-size: 12px;
	}
	.contact-center img {
	    height: 36px;
	}
	.no-contact, .no-contact a {
		font-size: 26px;
	}
	.top-contact .flag {
		display: block;
		padding: 0;
		border: 0;
		margin: 0;
		margin-top: 2px;
	}
	.top-contact .flag img {
		height: 18px;
	}
	.nav-dark-top {
		margin-top: 0;
	}
	.container {
		max-width: 100%;
	}
	.desc-carousel h1 {
		font-size: 22px;
		margin-bottom: 15px;
	}
	.btn-orange {
		font-size: 12px;
		padding: 8px 20px;
	}
	.subtitle-section h5 {
		font-size: 14px;
	}
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.cfi-services .thumbnail {
		height: 200px;
	}
	.cfi-services h4 {
		font-size: 14px;
	}
	.fl-testi .thumbnail {
		width: 100px;
		height: 100px;
	}
	.desc-testi h5, .desc-testi h3 {
		font-size: 16px;
	}
	.desc-testi p {
		font-size: 14px;
	}
	.card-flex--five .card-flex-item {
		width: 25%;
	}
	.footer-logo {
		padding-right: 100px;
	}
	.col-f-btm {
		padding-top: 50px;
	}
	.f-chat .btn img {
		margin-right: 0;
	}
	.f-chat .btn span {
		display: none;
	}
	.media-about-us {
		padding: 50px 0;
	}
	.container {
		max-width: 100%;
	}
	.card-flex--four .card-flex-item {
		width: 50%;
	}
	.list-career {
		padding: 15px;
	}
	.desc-list-career h2 {
		font-size: 18px;
	}
	.desc-list-career li {
		font-size: 12px;
		padding: 0 5px;
	}
	.thumb-career {
		margin-top: 15px;
		height: auto;
	}
	.thumb-career img {
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		height: auto;
		width: 100%;
	}
	.media-career .thumbnail {
		width: 200px;
		height: 200px;
	}
	.media-career .media-body {
		padding-right: 0;
	}
	.sub-title-banner {
		font-size: 14px;
	}
	.desc-carousel h2.news-banner {
		font-size: 18px;
	}
	.f-carousel-career {
		padding-left: 50px;
		padding-right: 50px;
	}
	.media-career .media-left {
		vertical-align: top;
	}
	.list-other-news .thumbnail img {
		width: 100%;
		height: auto;
	}
	.mt100-sm {
			margin-top: 100px;
	}
	.rectangle #tawkchat-status-icon .text {
		display: none;
	}
	.f-chat {
		bottom: 19px;
	}
	.f-chat .btn-wa {
		border-radius: 100%;
		padding: 18px;
		box-shadow: rgba(0,0,0,0.16) 0 2px 10px 0 !important;
	}
	.banner-contact div.banner {
		height: auto;
		padding: 40px;
	}
	.banner-contact span {
		font-size: 26px;
	}
	#milestone video {
	    width: 650px;
	}
	.jcbu {
	    margin-left: 10px;
	    margin-right: 10px;
	}
	.jcbu .media-right , .jcbu .media-left {
	    display: table-header-group;

	}
	.jcbu .thumbnail {
		margin: 0 auto;
		margin-bottom: 25px !important;
	}
}
@media screen and (max-width: 680px) {
	.media-flex-contact .media-body, 
	.media-flex-contact .media-right {
		width: 100%;
		display: block;
		max-width: none;
	}
	.media-flex-contact {
		display: block;
	}
	.media-career .media-body, .media-career .media-left {
		display: block;
		width: 100%;
		padding: 0;
	}
	.media-career .media-left {
		margin-bottom: 15px;
		text-align: center;
	}
	.media-career .thumbnail {
		height: auto;
		width: 50%;
		display: inline-block;
		margin: 0 auto;
	}
	.media-career .thumbnail img {
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		height: auto;
		width: 100%;
	}
	.f-list-about {
		max-height: 254px;
	}
}
@media screen and (max-width: 600px) {
	.card-flex--three .card-flex-item {
		width: 50%;
	}
	.footer-logo {
		width: 40%;
		padding-right: 50px;
	}
	.socmed-footer {
		margin-top: 50px;
	}
	.nav-tabs-center .nav-tabs {
		display: block;
		margin-bottom: 15px;
	}
	.nav-tabs-center .nav-tabs .nav-item {
		width: 100%;
		display: block;
	}
	.nav-tabs-center .nav-tabs .nav-link {
		margin-bottom: 5px;
		border-radius: 4px;
	}
	.media-services .thumbnail {
		width: 200px;
		height: 200px;
	}
	.media-services h4 {
		font-size: 16px;
	}
	.media-services p {
		font-size: 14px;
	}
	.media-services .media-left {
		padding-right: 15px;
	}
	.media-services .media-right {
		padding-left: 15px;
	}
	.media-services .media-body, .media-services .media-right, .media-services .media-left {
		vertical-align: top;
	}
	.pagination-news li {
		padding: 0 7px;
	}
	.pagination-news span {
		width: 12px;
		height: 12px;
	}
	.media-career .media-left {
		padding-right: 15px;
	}
	.media-career h4 {
		font-size: 16px;
	}
	.media-career p {
		font-size: 14px;
	}
	.f-carousel-career {
		padding-left: 45px;
		padding-right: 40px;
	}
	#milestone video {
	    width: 350px;
	}
}
@media screen and (max-width: 575px) {
	.list-career .col-flex {
		margin-top: 15px;
	}
	.list-career .col-md-4 button {
	    position: relative;
	    right: auto;
	    padding: 10px 15px;
	    font-size: 12px;
	    display: block;
	    width: 100%;
	    box-shadow: none;
	}
	.media-career h4 {
		margin-bottom: 10px;
	}
	.media-career .media-body, .media-career .media-left {
		vertical-align: top;
	}
	.contact-address {
		padding-left: 15px;
	}
	.media-flex-contact .media-body {
		padding: 20px 15px;
	}
	.page-header {
		padding: 30px 0;
	}
	.page-header h1 {
		font-size: 32px;
	}
	#accordionFAQ .btn-link {
		font-size: 18px;
		padding: 15px;
		padding-right: 60px;
	}
	#accordionFAQ .btn-link .fa {
		top: 13px;
	}
	.media-thumbnail-career {
		display: block;
	}
	.media-thumbnail-career .media-left, .media-thumbnail-career .media-right {
		display: block;
		width: 100%;
	}
	.desc-career {
		padding: 15px;
	}
	.desc-career:after,	.desc-career:before {
		display: none;
	}
	.media-thumbnail-career .thumbnail {
		height: auto;
	}
	.media-thumbnail-career .thumbnail img {
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		width: 100%;
		height: auto;
	}
	.media-career h3 {
		font-size: 16px;
	}
	.media-career h4 {
		font-size: 14px;
	}
	.media-career p {
		font-size: 12px;
	}
	.banner-contact div.banner {
		padding: 30px;
	}
	.banner-contact span {
		font-size: 22px;
	}
}
@media screen and (max-width: 480px) {
	body{
	    -webkit-text-size-adjust:100%;  
	    -moz-text-size-adjust:100%; 
	    -ms-text-size-adjust:100%;
	}
	.contact-center span {
		display: none;
	}
	.desc-carousel h1 {
		font-size: 16px;
		margin-bottom: 15px;
	}
	#owl-index.owl-theme .owl-nav.disabled+.owl-dots,
	#owl-pages.owl-theme .owl-nav.disabled+.owl-dots {
		margin-top: 20px;
	}
	.title-section h2 {
		font-size: 24px;
		padding-bottom: 15px;
	}

	.col-owl-type {
		padding-left: 20px;
		padding-right: 20px;
	}
	.cf-white {
		padding-bottom: 30px;
	}
	.card-flex {
		margin-left: 0;
	}
	.card-flex.card-flex--two,
	.card-flex.card-flex--four {
		margin-left: -1em;
	}
	.card-flex--three .card-flex-item {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.cfi-services .thumbnail {
		height: auto;
		width: 100%;
	}
	.cfi-services .thumbnail img {
		position: relative;
		height: auto;
		width: 100%;
		left: auto;
		top: auto;transform: none;
	}
	.footer-logo {
		padding-right: 30px;
	}
	.desc-carousel h2 {
		font-size: 14px;
		font-family: 'RobotoRegular'
	}

	.media-about-us .media-right iframe {
		height: 250px;
	}
	.media-services .thumbnail {
		height: 170px;
		width: 170px;
	}
	.media-services h4 {
		font-size: 14px;
	}
	.media-services p {
		font-size: 12px;
	}
	.media-services.m-news p {
	 overflow: hidden;
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    -webkit-line-clamp: 6;
	    -webkit-box-orient: vertical;
	}
	.media-services.m-news h4 {
	 overflow: hidden;
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    -webkit-line-clamp: 1;
	    -webkit-box-orient: vertical;
	}
	.media-career {
		display: block;
	}
	.media-career .media-body, .media-career .media-left {
		display: block;
		padding-right: 0;
	}
	.media-career .thumbnail {
		margin-bottom: 15px;
		height: auto;
		width: 80%;
		padding: 0;
	}
	.media-career .thumbnail img {
		position: relative;
		transform: none;
		top: auto;
		left: auto;
		width: 100%;
		height: auto;
	}
	.contact-address img {
		max-height: 30px;
	}
	.contact-address {
		padding-left: 0;
	}
	.contact-address img {
		max-height: 25px;
		margin-right: 10px;
	}
	.no-contact-address {
		font-size: 26px;
	}
	.contact-address .media-body .h5 {
		font-size: 16px;
		line-height: 26px;
	}
	.title-detail {
		font-size: 22px;
	}
	.socmed-detail {
		float: none;
		margin-top: 15px;
	}
	.contact-center-jp p {
		font-size: 12px;
		line-height: normal;
	}
	.jcbu p, .jcbu li {
		font-size: 17px;
	    /*line-height: 1.6;*/
	}
}

}
@media screen and (max-width: 440px) {
	.card-flex--two .card-flex-item {
		width: 100%;
	}
}
@media screen and (max-width: 420px) {
	.col-address-contact {
		max-width: 100%;
		flex: 0 0 100%;
		margin-bottom: 0 !important;
	}
	.media-career .thumbnail {
		width: 100%;
	}
	.banner-contact div.banner {
		padding: 25px 15px;
	}
	.banner-contact span {
		font-size: 18px;
	}
}
@media screen and (max-width: 400px) {
	.fl-testi {
		padding: 15px;
	}
	.fl-testi .thumbnail {
		height: 80px;
		width: 80px;
		margin-right: 15px;
	}
	.desc-testi h5, .desc-testi h3 {
		font-size: 14px;
	}
	.desc-testi p {
		font-size: 12px;
	}
	.desc-list-about h3 {
		font-size: 16px;
		font-family: 'RobotoMedium', sans-serif;
	}
@media screen and (max-width: 380px) {
	.logo, .sticky .logo {
		width: 90px;
		padding: 17px 0;
	}
	.no-contact, .no-contact a {
		font-size: 20px;
	}
	.contact-center img {
	    height: 25px;
	    width: 34px;
	}
	.top-contact .flag img {
		height: 15px;
	}
	body {
		padding-top: 76px;
	}
	.card-flex--five .card-flex-item {
		width: 50%;
	} 
	.footer-logo {
		padding-right: 15px;
	}
	footer p {
		font-size: 12px;
	}
	.media-services .thumbnail {
		height: 130px;
		width: 130px;
	}
	.media-services.m-news p {
	    -webkit-line-clamp: 3;
	}

	#accordionFAQ .btn-link {
		font-size: 14px;
	}
	#accordionFAQ .btn-link .fa {
		top: 10px;
	}
}
@media screen and (max-width: 340px) {
	.desc-carousel h2 {
		font-size: 12px;
	}
}