@import url(font-awesome.min.css);
@import url(font-face.css);
@import url(animate.css);


body {
	font-family: 'RobotoRegular', sans-serif;
	padding-top: 125px;
	color: #646464;
	font-size: 14px;
	line-height: 1.4;
	overflow-x: hidden;
}
p {
	font-size: 14px;
	margin-bottom: 20px;
}
b, strong {
	font-weight: normal;
	font-family: 'RobotoBold', sans-serif;
}
button:focus, a:focus {
	outline: none;
}
input::placeholder {
	color: #ccc;
}
.navbar-light {
	background: #f6f5f5;
	padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-light .navbar-nav .nav-item {
	/*transform: skewX(28deg);*/
    transition: ease all .51s;
    /*border: 1px solid transparent;*/
}
.navbar-light .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
   /* background: #FFDD00;
    color: #3E50B4;*/
    display: inline-block;
}
.navbar-light .navbar-nav .nav-item:hover .nav-link {
	/*color: #3E50B4;*/
}
.navbar-light .navbar-nav .nav-link {
	color: #231F20;
	/*transform: skewX(-28deg);*/
	padding: 20px 0;
	font-size: 16px;
	font-family: 'RobotoRegular', sans-serif;
	position: relative;
	transition: ease all .3s;
	-webkit-transition: ease all .3s;
	-moz-transition: ease all .3s;
}
.sticky.navbar-light .navbar-nav .nav-link {
	padding: 29px 0;
}
.navbar-light .navbar-nav .nav-item {
	padding-left: 20px;
	padding-right: 20px;
}
.navbar-light .navbar-nav .nav-item:last-child {
	padding-right: 0;
}
.navbar-light .navbar-nav .nav-item.active .nav-link:before {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	height: 3px;
	background: #F26F21;
	content: "";
}
.navbar-light .dropdown-menu {
	margin-top: 0;
	border: 0;
	background: #F26F21;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.navbar-light .navbar-nav .nav-item .dropdown-item {
	padding: .7rem 1.5rem;
	color: #fff;
}
.navbar-light .navbar-nav .nav-item .dropdown-item.active, .navbar-light .navbar-nav .nav-item .dropdown-item:active, .navbar-light .navbar-nav .nav-item .dropdown-item:focus, .navbar-light .navbar-nav .nav-item .dropdown-item:hover {
	background: #e45602;
	color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #F26F21;
}
.navbar-light .navbar-nav .nav-lang {
	color: #BDBDBD;
}
.nav-link.sosmed:hover .fa-facebook-square {
	color: #4166b2;
}
.nav-link.sosmed:hover .fa-twitter {
	color: #1ea1f2;
}
.nav-link.sosmed:hover .fa-youtube-square {
	color: #ff3b28;
}
.nav-link.sosmed:hover .fa-instagram {
	color: #b53984;
}
.navbar-light .navbar-nav .nav-lang a {
	color: #BDBDBD;
	padding: .5rem 5px;
	display: inline-block;
	position: relative;
	font-family: 'RobotoBold', sans-serif;
}
.navbar-light .navbar-nav .nav-lang a:hover {
	color: #BDBDBD;
}
.navbar-light .navbar-nav .nav-lang a:first-child:before {
	position: absolute;
	left: 100%;
	height: 13px;
	margin-left: 2px;
	width: 1px;
	background: #BDBDBD;
	content: "";
	top: 14px;
}
.navbar-light .navbar-nav .nav-lang a.active {
	color: #F26F21;
	font-family: 'RobotoBold', sans-serif;
	cursor: default;
}
.navbar-light .dropdown-toggle::after {
	border: 0;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	content: "\f078";
	font-size: 10px;
    margin-left: 5px;
}
.nav-dark-top {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    color: #fff;
    text-align: right;
    display: inline-block;
	transition: max-height 0.1s ease-in-out;
	-webkit-transition: max-height 0.1s ease-in-out;
	-moz-transition: max-height 0.1s ease-in-out;
	max-height: 100px;
	overflow: hidden;
	margin-top: 20px;
}
.sticky .nav-dark-top {
	max-height: 0;
}
.nav-dark-top a {
	color: #3E50B4;
    display: inline-block;
    font-size: 18px;
    line-height: 76px;
}
.nav-dark-top .drop-profile a {
	color: #646464;
	font-size: 14px;
}
.nav-dark-top .drop-profile a .thumbnail {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: inline-block;
	float: right;
	margin-left: 12px;
	margin-top: 14px;
}
.nav-dark-top .drop-profile a:hover {
	color: #3E50B4;
	cursor: pointer;	
}
.nav-dark-top .drop-profile .dropdown-menu a {
	line-height: 30px;
}
.nav-dark-top .drop-profile .dropdown-menu.show {
	left: auto;
	right: 0;
	margin-top: 0;
}
.navbar .container-fluid {
	margin-top: 35px;
	transition: ease all .3s;
	-webkit-transition: ease all .3s;
	-moz-transition: ease all .3s;
}
.navbar.sticky .container-fluid {
	margin-top: 0;
}
.nav-dark-top a:first-child {
	border-right: 1px solid rgba(255,255,255,.2);
	padding-right: 30px;
	margin-right: 15px;
}
.logo {
	width: 120px;
	z-index: 1;
	position: relative;	
	padding: 15px 0px;
	transition: ease all .3s;
	-webkit-transition: ease all .3s;
	-moz-transition: ease all .3s;
}
.sticky .logo {
	width: 110px;
}
.navbar-collapse {
	padding-top: 66px;
	transition: ease all .3s;
	-webkit-transition: ease all .3s;
	-moz-transition: ease all .3s;
}
.sticky .navbar-collapse {
	padding-top: 0;
	z-index: 99;
}
.contact-center {
	color: #F67001;
	font-size: 14px;
}
.contact-center img {
	margin-left: 10px;
	margin-right: 10px;
}
.no-contact {
	font-family: 'RobotoBold', sans-serif;
	font-size: 30px;
	color: #F67001;
}
.top-contact, .f-cc {
	display: inline-flex;
	align-items: center;
}
.flag {
	margin-left: 10px;
	padding-left: 8px;
	border-left: 1px solid #ccc;
}
.flag img {
	margin-left: 5px;
	height: 25px;
	box-shadow: 0px 0px 6px rgba(0,0,0,.39);	
}
.nav-dark-top .flag a {
	line-height: normal;
}
.nav-dark-top .flag a:first-child {
	border: 0;
	padding-right: 0;
	margin-right: 0;
}
.nav-dark-top .flag a.active img {
	box-shadow: 0px 0px 0px 2px #F97000;	
}
.nav-dark-top .flag a:hover img {
	box-shadow: 0px 0px 6px #F97000;	
}
#owl-index.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: -50px;
	position: relative;
	z-index: 1;
}
#owl-index.owl-theme .owl-dots .owl-dot span {
	background: #F26F21;
	width: 12px;
	height: 12px;
}
#owl-index.owl-theme .owl-dots .owl-dot.active span, #owl-index.owl-theme .owl-dots .owl-dot:hover span {
	background: rgba(255,255,255);
	border: 2px solid #F26F21;
}
#owl-index.owl-carousel .item {
	text-align: center;
}
#owl-index.owl-carousel .item img {
	width: 100%;
}
#owl-index.owl-carousel .item:before {
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	bottom: 0;
	content: "";
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,.5) 0%, transparent 100%);
	z-index: 1;
}
#owl-pages.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: -50px;
	position: relative;
	z-pages: 1;
}
#owl-pages.owl-theme .owl-dots .owl-dot span {
	background: #F26F21;
	width: 12px;
	height: 12px;
}
#owl-pages.owl-theme .owl-dots .owl-dot.active span, #owl-pages.owl-theme .owl-dots .owl-dot:hover span {
	background: rgba(255,255,255);
	border: 2px solid #F26F21;
}
#owl-pages.owl-carousel .item {
	text-align: center;
}
#owl-pages.owl-carousel .item img {
	width: 100%;
}
#owl-pages.owl-carousel .item:before {
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	bottom: 0;
	content: "";
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,.5) 0%, transparent 100%);
	z-index: 1;
}
.desc-carousel {
	bottom: 0;
    position: absolute;
    top: 0;
    display: flex;
    z-index: 2;
    align-items: center;
    width: 100%;
}
.desc-carousel h1 {
	color: #fff;
	font-size: 50px;
	font-family: 'RobotoMedium', sans-serif;
	text-shadow: 0px 8px 15px rgba(0,0,0,.39);	
	margin-bottom: 30px;
	line-height: 1.4;
}
.desc-carousel h2 {
	color: #fff;
	font-size: 28px;
	font-family: 'RobotoMedium', sans-serif;
	text-shadow: 0px 8px 15px rgba(0,0,0,.39);	
	text-align: left;
	max-width: 50%;
	line-height: 1.4;
}
.desc-carousel p {
	color: #fff;
	font-size: 32px;
}
.btn-orange {
	background: #F26F21;
	color: #fff;
	border-radius: 4px;
	padding: 10px 30px; 
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0px 3px 6px rgba(0,0,0,.29);	
}
.btn-orange:hover {
	background: #e06b25;
	color: #fff;
}
.btn-orange-gradient {
	background: transparent linear-gradient(180deg, #F26F21 0%, #C6540F 100%) 0% 0%;
	color: #fff;
	border-radius: 4px;
	padding: 10px 30px; 
	font-size: 14px;
	text-align: center;
	box-shadow: 0px 3px 6px rgba(0,0,0,.29);	
	border: 0;
}
.btn-orange-gradient:hover {
	background: transparent linear-gradient(180deg, #F26F21 0%, #F26F21 100%) 0% 0%;
	color: #fff;
}
.btn-white {
	background: #fff;
	color: #F26F21;
	border-radius: 4px;
	padding: 10px 30px; 
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0px 3px 6px rgba(0,0,0,.29);	
}
.btn-white:hover {
	background: #e06b25;
	color: #fff;
}
.cf-white {
	background: #fff;
	padding-top: 50px;
	padding-bottom: 70px;
	background-image: url(../images/bg-supergraphic-01@2x.png);
	background-position: bottom;
	background-size: 100%;
	background-repeat: no-repeat;
}
.cf-orange {
	background: #F26F21;
	padding-top: 50px;
	padding-bottom: 70px;
	background-image: url(../images/bg-supergraphic-service-02@2x.png);
	background-position: bottom;
	background-size: 100%;
	background-repeat: no-repeat;
}
.cf-orange-back-dark {
	background: #F26F21;
	padding-top: 50px;
	padding-bottom: 70px;
	background-image: url(../images/bg-supergraphic-ournetworks-02@2x.png);
	background-position: bottom;
	background-size: 100%;
	background-repeat: no-repeat;
	color: #fff;
}
.title-section {
	text-align: center;
}
.title-section h2 {
	display: inline-block;
	border-bottom: 1px solid #F26F21;
	color: #F26F21;
	font-family: 'RobotoBold', sans-serif;
	margin-bottom: 30px;
	padding-bottom: 30px;
	margin-top: 0;
	width: 330px;
	max-width: 100%;
}
.title-section.text-left h2 {
	width: auto;
}
.cf-orange-back-dark .title-section h2 {
	color: #fff;
	border-color: #fff;
}
.subtitle-section {
	text-align: center;
	margin-bottom: 30px;
}
.subtitle-section h5 {
	font-size: 16px;
    width: 100%;
    max-width: 500px;
    line-height: 1.4;
    margin: 0 auto;
}
.thumbnail {
  position: relative;
  width: 100%;
  height: 170px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

#owl-type {
	/*margin-top: 50px;*/
	position: relative;
}
#owl-type .owl-item {
	/*opacity: .3;*/
	transition: ease all .3s;
	-webkit-transition: ease all .3s;
	-moz-transition: ease all .3s;
}
#owl-type .owl-item.active.center {
	opacity: 1;
}
#owl-type.owl-theme .owl-nav {
    margin: 0 auto;

}
#owl-type.owl-carousel .owl-nav button {
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background: #fff;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.26);
	/*position: absolute;*/
	/*top: 32%;*/
	outline: none;
	/*border: 1px solid #9EA0A3;*/
	color: #9EA0A3;
	opacity: .75;
	transition: ease all .3s;
	-webkit-transition: ease all .3s;
	-moz-transition: ease all .3s;
}
#owl-type.owl-carousel .owl-nav button:hover {
	opacity: 1;
}
#owl-type.owl-carousel .owl-nav button.owl-prev {
	background: #fff url(../images/chevron-left-solid.svg) no-repeat center center;
	background-size: 30%;
}
#owl-type.owl-carousel .owl-nav button.owl-next {
	background: #fff url(../images/chevron-right-solid.svg) no-repeat center center;
	background-size: 30%;
}
#owl-type.owl-theme .owl-dots .owl-dot span {
	background: #F26F21;
	width: 12px;
	height: 12px;
}
#owl-type.owl-theme .owl-dots .owl-dot.active span, #owl-type.owl-theme .owl-dots .owl-dot:hover span {
	background: rgba(255,255,255);
	border: 2px solid #F26F21;
}
.f-type .thumbnail {
	height: 150px;
}
.f-type .thumbnail img {
	width: 100%;
	height: auto;
	transition: ease all .3s;
	-webkit-transition: ease all .3s;
	-moz-transition: ease all .3s;
}
.f-type:hover .thumbnail img {
	width: 110%;
}
.desc-type {
	border-top: 1px solid #F26F21;
	padding-top: 20px;
}
.desc-type h2 {
	color: #F26F21;
	font-family: 'RobotoBold', sans-serif;
	font-size: 26px;
	text-align: center;
}
.col-owl-type {
	padding-left: 50px;
	padding-right: 50px;
}
.f-type a {
	text-decoration: none;
}
.cf-service-index {
	background: #F26F21;
	padding-top: 50px;
	padding-bottom: 50px;
}
.cf-service-index .title-section h2 {
	border-color: #fff;
}
.color-white {
	color: #fff !important;
}

.card-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -1em;
}
.card-flex .card-flex-item {
    padding: 0 0 2em 1em;
    width: 100%;
}
.card-flex--three .card-flex-item {
    width: 33.333%;
}
.card-flex--four .card-flex-item {
    width: 25%;
}
.card-flex--five .card-flex-item {
    width: 20%;
}
.card-flex--two .card-flex-item {
    width: 50%;
}
.cfi-services a {
	text-decoration: none;
}
.cfi-services h4 {
	color: #fff;
	text-align: center;
	margin-bottom: 0;
	margin-top: 15px;
	font-size: 16px;
}
.cfi-services .thumbnail {
	height: 300px;
	width: 100%;
	border-radius: 10px;
}
.cfi-services .thumbnail img {
}
.fl-testi {
	box-shadow: 0px 1px 5px rgba(0,0,0,.29);
	padding: 25px;
	border-radius: 10px;
}
.fl-testi .thumbnail {
	width: 160px;
	height: 160px;
	border-radius: 200px;
	border: 3px solid #F56F02;
	box-shadow: 0px 1px 5px rgba(0,0,0,.29);
	margin-right: 25px;
}
#owl-testi .item {
	padding: 5px;
}
#owl-testi.owl-theme .owl-dots .owl-dot span {
	background: #F26F21;
	width: 12px;
	height: 12px;
}
#owl-testi.owl-theme .owl-dots .owl-dot.active span, #owl-testi.owl-theme .owl-dots .owl-dot:hover span {
	background: rgba(255,255,255);
	border: 2px solid #F26F21;
}
.desc-testi h3 {
	color: #F56F02;
	font-size: 18px;
	font-family: 'RobotoBold', sans-serif;
}
.desc-testi h5 {
	font-size: 18px;
	margin-bottom: 15px;
}
.desc-testi p {
	font-size: 16px;
	margin-bottom: 0;
}
.cfi-partners {
	text-align: center;
}
.cfi-partners img {
	max-width: 60%;
	max-height: 100px;
}
.navbar-light .navbar-toggler {
	background: #F26F21;
    color: #fff;
    font-size: 30px;
    border-color: #F26F21;
    padding-top: 6px;
    padding-bottom: 5px;;
}
.nav-tabs-center {
	text-align: center;
}
.nav-tabs-center .nav-tabs {
	display: inline-flex;
	border-bottom: 0;
}
.nav-tabs-center .nav-tabs .nav-link {
	background: #F26F21;
	color: #fff;
	margin: 0 5px;
	border: 0;
	font-family: 'RobotoMedium';
	font-size: 14px;
	padding: 15px;
	width: 300px;
	max-width: 100%;
	position: relative;
}
.nav-tabs-center .nav-tabs .nav-item.show .nav-link, .nav-tabs-center .nav-tabs .nav-link.active {
	background: #fff;
	color: #F26F21;
}
.nav-tabs-center .nav-tabs .nav-item.show .nav-link:before, .nav-tabs-center .nav-tabs .nav-link.active:before {
	position: absolute;
	left: 0;
	width: 100%;
	content: "";
	background: #F26F21;
	bottom: 0;
	height: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.bg-orange-full {
	position: relative;
	background: #F26F21;
	color: #fff;
}
.bg-orange-full:before {
	position: absolute;
	right: 100%;
	width: 1000%;
	content: "";
	background: #F26F21;
	top: 0;
	height: 100%;
}
.bg-orange-full:after {
	position: absolute;
	left: 100%;
	width: 1000%;
	content: "";
	background: #F26F21;
	top: 0;
	height: 100%;
}
.media-about-us {
	display: table;
	padding: 100px 0;
}
.media-about-us .media-body {
	padding-right: 100px;
}
.media-about-us .media-body, .media-about-us .media-right {
	display: table-cell;
	flex: none;
	vertical-align: middle;
}	
.media-about-us iframe {
	border-radius: 10px;
	box-shadow: 0px 1px 5px rgba(0,0,0,.29);
}
.f-list-about {
	box-shadow: 0px 1px 5px rgba(0,0,0,.29);
	border-radius: 10px;
	overflow: hidden;
}
.desc-list-about {
	background: transparent linear-gradient(180deg, #F26F21 0%, #C74B00 100%) 0% 0%;
	text-align: center;
	padding: 15px;
}
.desc-list-about h3 {
	color: #fff;
	font-family: 'RobotoBold', sans-serif;
	margin-bottom: 3px;
	font-size: 22px;
}
.desc-list-about p {
	margin-bottom: 0;
	color: #fff;
	font-size: 12px;
}
.title-orange-tabs {
	color: #F26F21;
	font-family: 'RobotoBold', sans-serif;
	font-size: 28px;
	margin-top: 50px;
	margin-bottom: 30px;
}	
.img-content {
	margin-bottom: 30px;
}
.img-content img {
	max-width: 100%;
}
.cf-about {
	overflow-x: hidden;
}
.media-services .media-body, .media-services .media-right, .media-services .media-left {
	display: table-cell;
	flex: none;
	vertical-align: middle;
}	
.media-services .media-left {
	padding-right: 100px;
}
.media-services .media-right {
	padding-left: 100px;
}
.media-services .thumbnail {
	width: 300px;
	height: 300px;
	border-radius: 5px;
	box-shadow: 0px 1px 5px rgba(0,0,0,.29);
}
.media-services .thumbnail img {
	height: 100%;
	width: auto;
}
.f-carousel {
	overflow: hidden;
}
.media-services h4 {
	color: #F26F21;
	font-size: 18px;
	font-family: 'RobotoBold', sans-serif;
	margin-bottom: 15px;
}
.media-services p {
	font-size: 16px;
}
.cf-orange .media-services h4,
.cf-orange .media-services p {
	color: #fff;
}
.m-news {
	margin-bottom: 30px;
}
.m-news .media-left {
	padding-right: 30px;
}
.link-list-news {
	color: #000;
	font-family: 'RobotoBold', sans-serif;
	font-style: italic;
}
a:hover {
	color: #F26F21;
}
.pagination-news {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	margin-top: 30px;
}
.pagination-news li {
	list-style: none;
	padding: 0 10px;
	float: left;
}
.pagination-news span {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	background: #F26F21;
	display: inline-block;
	border: 3px solid #F26F21;
}
.pagination-news .active a {
	cursor: default;
}
.pagination-news .active span {
	background: #fff;
}
.desc-carousel h2.news-banner {
	font-size: 46px;
}
.sub-title-banner {
	font-size: 32px;
	font-family: 'RobotoRegular', sans-serif;
	color: #fff;
	text-align: left;
}
.b-0 {
	border: 0 !important;
}
.search-bar {
	margin-bottom: 30px;
}
.form-control {
	height: 41px;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #F26F21;
	color: #707070;
}
.form-control::-webkit-input-placeholder {
  color: #CBC4BC;
}
.form-control:-ms-input-placeholder {
  color: #CBC4BC;
}
.form-control::placeholder {
  color: #CBC4BC;
}
.list-career {
	padding: 30px;
	background: transparent linear-gradient(180deg, #F26F21 0%, #C6540F 100%);
	display: flex;
	display: flow-root;
	position: relative;
	border-radius: 10px;
	margin-bottom: 20px;
}
.list-career .col-md-4 button {
	position: absolute;
	right: 15px;
}
.desc-list-career ul {
	padding: 0;
	margin: 0 auto;
	display: inline-block;
}
.desc-list-career li {
	display: inline-block;
	float: left;
	color: #413739;
	padding: 0 10px;
	border-right: 1px solid #413739;
	line-height: normal;
}
.desc-list-career li:last-child {
	border-right: 0;
}
.desc-list-career li:first-child {
	padding-left: 0;
}
.desc-list-career h2 {
	color: #fff;
	font-family: 'RobotoBold', sans-serif;
	font-size: 28px;
}
.thumb-career {
	height: 300px;
	border-radius: 10px;
	box-shadow: 0px 1px 5px rgba(0,0,0,.29);
}
.col-flex {
	display: flex;
	align-items: center;
}
.media-career .media-body, .media-career .media-left {
	display: table-cell;
	flex: none;
	vertical-align: middle;
}	
.media-career .media-body {
	padding-right: 30px;
}
.media-career .media-left {
	padding: 5px;
	padding-right: 60px;
}
.media-career .thumbnail {
	width: 300px;
	height: 300px;
	border-radius: 5px;
	box-shadow: 0px 0px 6px rgba(0,0,0,.29);
}
.media-career .thumbnail img {
	height: 100%;
	width: auto;
}
.media-career h3 {
	color: #fff;
	font-size: 20px;
	font-family: 'RobotoMedium', sans-serif;
	margin-bottom: 10px;
}
.media-career h4 {
	color: #fff;
	font-size: 18px;
	font-family: 'RobotoLight', sans-serif;
	margin-bottom: 30px;
}
.media-career h4 b {
	font-family: 'RobotoMedium', sans-serif;
}
.media-career p {
	font-size: 14px;
	color: #fff;
}
.media-career p:last-child {
	margin-bottom: 0;
}
.media-thumbnail-career {
	display: table;
	margin-bottom: 30px;
}
.media-thumbnail-career .media-body, .media-thumbnail-career .media-left, .media-thumbnail-career .media-right {
	display: table-cell;
	flex: none;
	vertical-align: middle;
}	
.media-thumbnail-career .media-left, .media-thumbnail-career .media-right {
	width: 40%;
}
.media-thumbnail-career .thumbnail {
	height: 220px;
}
.media-thumbnail-career .thumbnail img {
	height: auto;
	width: 100%;
}
.desc-career {
	background: #F5F3F2;
	padding: 20px 20px 25px 50px;
	color: #231F20;
	position: relative;
}
.desc-career h3 {
	font-family: 'RobotoBold', sans-serif;
	margin-top: 0;
	font-size: 24px;
	margin-bottom: 10px;
}
.desc-career p:last-child {
	margin-bottom: 0;
}
.desc-career:after {
	position: absolute;
	top: 0;
	left: 100%;
	content: "";
	width: 50px;
	height: 100%;
	background: #F5F3F2;
	z-index: 9;
}
.dc-right {
	padding-left: 0;
}
.dc-right:after {
	display: none;
}
.dc-right:before {
	position: absolute;
	top: 0;
	right: 100%;
	content: "";
	width: 50px;
	height: 100%;
	background: #F5F3F2;
}
.col-carousel-career {
	padding-left: 0;
	padding-right: 0;
}
#owl-career.owl-carousel .owl-prev {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40%;
    margin-left: -45px;
    display: block !important;
    border:0px solid black;
    border-radius: 30px;
    background: #fff;
}

#owl-career.owl-carousel .owl-next {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40%;
    right: -45px;
    display: block !important;
    border:0px solid black;
    border-radius: 30px;
    background: #fff;
}
#owl-career.owl-carousel .owl-prev i, #owl-career.owl-carousel .owl-next i {
	color: #F26F21;
}
#owl-career.owl-carousel .owl-prev:hover, #owl-career.owl-carousel .owl-next:hover {
	box-shadow: 0px 1px 5px rgba(0,0,0,.29);
}
.media-flex-contact {
	display: table;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	background: transparent linear-gradient(180deg, #F26F21 0%, #C6540F 100%);
}
.media-flex-contact .media-body, .media-flex-contact .media-right {
	display: table-cell;
	flex: none;
	vertical-align: middle;
}
.media-flex-contact .media-body {
	padding: 30px;
	color: #fff;
}
.media-flex-contact .media-right {
	width: 700px;
	max-width: 80%;
}
.maps-contact {
	display: block;
	max-width: 100%;
}
.btn-white-outline {
	color: #fff;
	border: 1px solid #fff;
	color: #fff;
	outline: none;
	line-height: normal;
	padding: 10px 30px;
}
.banner-contact {
	display: block;
	position: relative;
	margin-top: -50px;
	background: linear-gradient(#fff 50%, transparent 50%);
}
.banner-contact div.banner {
	box-shadow: 0px 1px 5px rgba(0,0,0,.29);
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 20px 40px;
	border-radius: 10px;
	width: 100%;
	background: url(../images/Preview-contactus-banner.jpg);
	height: 260px;
	background-size: cover;
}
.banner-contact span {
	color: #fff;
	font-family: 'RobotoBold', sans-serif;
	font-size: 38px;
	display: block;
	width: 100%;
}
.banner-contact img {
	width: 100%;
}
.banner-contact:before {
	position: absolute;
	width: 200%;
	height: 100%;
	content: "";
	right: 100%;
	top: 0;
	background: linear-gradient(#fff 50%, transparent 50%);
}
.banner-contact:after {
	position: absolute;
	width: 200%;
	height: 100%;
	content: "";
	left: 100%;
	top: 0;
	background: linear-gradient(#fff 50%, transparent 50%);
}
.contact-address {
	padding-left: 30px;
}
.contact-address img {
	margin-right: 15px;
	max-height: 35px;
}
.no-contact-address {
	font-family: 'RobotoBold', sans-serif;
	font-size: 36px;
	line-height: normal;	
}
.contact-address .media-body .h5 {
	line-height: 32px;
}
.contact-address .h6, .contact-socmed .h6 {
	display: block;
}
.contact-socmed img {
	margin-right: 10px;
	max-height: none;
}
.page-header {
	background: transparent linear-gradient(180deg, #F26F21 0%, #C6540F 100%);
	padding: 100px 0;
	color: #fff;
}
.page-header h1 {
	font-family: 'RobotoBold', sans-serif;
	font-weight: normal;
}
.text-content h4 {
	margin-bottom: 20px;
	font-family: 'RobotoBold', sans-serif;
	margin-top: 30px;
}
.text-content h4:first-child {
	margin-top: 0;
}
#accordionFAQ .btn-link {
	font-weight: normal;
    font-family: 'RobotoBold', sans-serif;
    display: block;
    width: 100%;
    text-align: left;
    padding: 25px 15px;
	text-decoration: none;
	font-size: 18px;
	position: relative;
    background: #f6760b;
    color: #fff;
    border-radius: 0;
    padding-right: 60px;
}
#accordionFAQ .btn-link.collapsed {
    color: #231F20;
	background: #fff;
}
#accordionFAQ .card-header {
	background: none;
	padding: 0;
}
#accordionFAQ .card-header:hover {
	background: #F26F21;
}
#accordionFAQ .card-header:hover .btn-link {
	text-decoration: none;
    background: #F26F21;
    color: #fff;
}
#accordionFAQ .card-body p:last-child {
	margin-bottom: 0;
}
#accordionFAQ .btn-link .fa {
    background: #fff;
    color: #F26F21;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 15px;
    top: 25px;
}
#accordionFAQ .btn-link.collapsed .fa {
	background: #F26F21;
	color: #fff;
}
#accordionFAQ .card-header:hover .btn-link .fa {
	background: #fff;
	box-shadow: 0px 0px 6px rgba(0,0,0,.1);
	color: #F26F21;
}
#accordionFAQ .btn-link.collapsed .fa-angle-up:before {
	content: "\f107";
}
.btn-back {
	color: #F26F21;
	padding: 0;
}
.btn-back:hover {
	color: #e25907;
}
.title-detail {
	color: #433E3F;
	font-size: 28px;
	font-weight: normal;
	font-family: 'RobotoBold', sans-serif;
	margin-top: 50px;
	margin-bottom: 30px;
}
.cat-news {
	color: #888888;
	font-size: 16px;
	display: inline-block;
}
.cat-news span {
	color: #F26F21;
	font-family: 'RobotoMedium', sans-serif;	
	border-right: 1px solid #F26F21;
	padding-right: 10px;
	margin-right: 10px;
}
.socmed-detail {
	float: right;
}
.socmed-detail span {
    margin-right: 10px;
    font-family: 'RobotoBold', sans-serif;
    line-height: 20px;
    display: inline-block;
    float: left;
}
.socmed-detail img {
	max-height: 20px;
	margin-left: 15px;
}
.cat-date {
	margin-bottom: 50px;
}
.list-other-news {
	margin-bottom: 30px;
}
.list-other-news a {
	color: #fff;
	text-decoration: none;
}
.desc-ow {
	margin-top: 10px;
}
.desc-ow .date-news {
	color: #433E3F;
	font-size: 12px;
}
.desc-ow h4 {
	margin-top: 10px;
	font-size: 16px;
	color: #fff;
}
.certifications-awards {
	padding: 50px 0;
}
.title-w-ca {
	display: inline-block;
	margin: 0 auto;
	font-size: 14px;
	font-family: 'RobotoBold', sans-serif;
	padding: 10px 15px;
	color: #F26F21;
	border-radius: 5px;
	border: 1px solid #F26F21;
	min-width: 200px;
	margin-bottom: 50px;
}
.list-ca {
	padding: 0;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}
.list-ca li {
	list-style: none;
	float: left;
}
.list-ca img {
	max-height: 115px;
}
.list-ca span {
	display: block;
	margin-top: 15px;
}
.row-list-btm {
	margin-top: 100px;
}













/*_____________________________________________________________________________________________________________*/
/*Footer*/
footer {
	background: #413739;
	padding-top: 70px;
	padding-bottom: 50px;
	color: #fff;
	font-size: 14px;
}
footer p {
	font-size: 14px;
}
footer .logo {
	padding: 0;
	margin-right: 30px;	
}
.title-footer {
	color: #F26F21;
	font-size: 14px;
	margin-bottom: 15px;
	line-height: normal;
}
.nav-footer {
	display: inline-block;
}
.nav-footer a {
	display: block;
	color: #fff;
	font-size: 14px;
	margin-bottom: 15px;
}
.footer-logo {
	width: 50%;
	float: left;
	padding-right: 100px;
}
.footer-logo .logo {
	margin: 0 auto;
	width: 100%;
}
.copyright {
	font-size: 12px;
	display: block;
	text-align: center;
	margin-top: 50px;
}
.socmed-footer {
	margin-bottom: 30px;
}
.socmed-footer span {
	display: block;
	margin-bottom: 10px;
}
.socmed-footer img {
	margin-right: 10px;
	max-height: 18px;
}
.contact-footer img {
	margin-right: 15px;
	max-height: 25px;
}
.no-contact-footer {
	font-family: 'RobotoBold', sans-serif;
	font-size: 28px;
	line-height: normal;	
}
.f-chat {
	position: fixed;
	bottom: 0;
	right: 30px;
	z-index: 999;
}
.f-chat .btn {
	border-radius: 0;
	border: 0;
	outline: none;
	padding: 10px 15px;
	font-size: 12px;	
	line-height: 25px;
	font-family: 'RobotoLight', sans-serif;
}
.f-chat .btn-wa {
	background: transparent linear-gradient(180deg, #F56F02 0%, #D04405 100%) 0% 0% no-repeat padding-box;
	border-top-left-radius: 25px;
	color: #fff;
	padding-left: 17px;
}
.f-chat .btn-wa:hover {
	background: transparent linear-gradient(180deg, #F56F02 0%, #F56F02 100%) 0% 0% no-repeat padding-box;
}
.f-chat .btn img {
	height: 24px;
	float: left;
	margin-right: 10px;
}
.f-chat .btn-live-chat {
	background: transparent linear-gradient(180deg, #FFFFFF 0%, #AFAFAF 100%) 0% 0% no-repeat padding-box;
	border-top-right-radius: 25px;
	color: #F26F21;
	padding-right: 17px;
}
.f-chat .btn-live-chat:hover {
	background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}