<div id="feedback" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ 'feedbackform.title'|_ }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form data-request="{{__SELF__}}::onSubmit" class="form-rating" data-request-flash  data-request-validate>
          <div class='mb-3 d-inline-block'>
            <p class=' mb-2'>{{ 'feedbackform.message'|_ }}</p>
            <textarea name="message" class='form-control' placeholder="{{ 'feedbackform.message_p'|_ }}..."></textarea>
            <p class='mt-3 mb-0'>{{ 'feedbackform.rating'|_ }}</p>
            <fieldset class="rating star text-center">
              <input type="radio" id="field6_star5" name="rating" value="5" /><label class = "full" for="field6_star5"></label>
              <input type="radio" id="field6_star4" name="rating" value="4" /><label class = "full" for="field6_star4"></label>
              <input type="radio" id="field6_star3" name="rating" value="3" /><label class = "full" for="field6_star3"></label>
              <input type="radio" id="field6_star2" name="rating" value="2" /><label class = "full" for="field6_star2"></label>
              <input type="radio" id="field6_star1" name="rating" value="1" /><label class = "full" for="field6_star1"></label>
            </fieldset>
          </div>
          <div>
            <button class="btn btn-orange px-3">{{ 'SEND'|_ }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% put styles %}
<style>
  .rating { 
    border: none;
    margin:0px;
    margin-bottom: 18px;
    float: left;
  }

  .rating > input { display: none; } 

  .rating.star > label {
      color: #d4d4d4;
      margin: 1px 20px 0px 0px;
      background-color: #ffffff;
      border-radius: 0;
      height: 48px;
      float: right;
      width: 44px;
      border: 1px solid #ffffff;
  }
  fieldset.rating.star > label:before { 
      margin-top: 0;
      padding: 0px;
      font-size: 47px;
      font-family: FontAwesome;
      display: inline-block;
      content: "\2605";
      position: relative;
      top: -9px;
  }
  .rating > label:before {
      margin-top: 2px;
      padding: 5px 12px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "";
  }
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  .rating.star > label{
    background-color: transparent !important;
  }
  .rating > label { 
      color: #646464;
      margin: 1px 11px 0px 0px;
      background-color: #646464;
      border-radius: 2px;
      height: 16px;
      float: right;
      width: 16px;
      border: 1px solid #646464;  
  }

  /***** CSS Magic to Highlight Stars on Hover *****/

  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { 
    background-color:#f26f21 !important;
    cursor:pointer;
  } /* hover previous stars in list */

  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { 
    background-color:#f26f21 !important;
    cursor:pointer;
  } 
  .rating.star:not(:checked) > label:hover, /* hover current star */
  .rating.star:not(:checked) > label:hover ~ label { 
    color:#f26f21 !important;
    background-color: transparent !important;
    cursor:pointer;
  } /* hover previous stars in list */

  .rating.star > input:checked + label:hover, /* hover current star when changing rating.star */
  .rating.star > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating.star > input:checked ~ label:hover ~ label { 
    color:#f26f21 !important;
    cursor:pointer;
    background-color: transparent !important;
  }
</style>
{% endput %}
{% put scripts %}
<script>
  function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }
  $(document).ready(function() {
    console.log(getCookie('is_feedback'))
    if (getCookie('is_feedback') == 0) {
      setTimeout( function() { 
        $('#feedback').modal();
      }, 1000);
    }
  });

  $(".star label").click(function(){
    $(this).parent().find("label").css({"color": "#d4d4d4"});
    $(this).css({"color": "#f26f21"});
    $(this).nextAll().css({"color": "#f26f21"});
    $(this).css({"background-color": "transparent"});
    $(this).nextAll().css({"background-color": "transparent"});
  });

</script>
{% endput %}