<form data-request="{{__SELF__}}::onSubmit" class="form-contact" data-request-flash  data-request-validate>
    <div class="mb-3">
        <input type="text" name="name" placeholder="{{ 'cp_form_name'|_ }}" class="form-control">
    </div>
    <div class="mb-3">
        <input type="email" name="email" placeholder="Email" class="form-control">
    </div>
    <div class="mb-3">
        <input type="text" name="phone_number" placeholder="{{ 'cp_form_phone_number'|_ }}" class="form-control">
    </div>
    <div class="mb-3">
        <input type="text" name="company_name" placeholder="{{ 'cp_form_company_name'|_ }}" class="form-control">
    </div>
    <div class="text-right">
        <button class="btn btn-orange px-5">{{ 'cp_form_submit'|_ }}</button>
    </div>
</form>