<form data-request="{{__SELF__}}::onSubmitContact" class="form-contact" data-request-flash  data-request-validate>
    <div class="mb-3">
        <input type="text" name="name" placeholder="{{ 'name'|_ }}" class="form-control">
    </div>
    <div class="mb-3">
        <input type="email" name="email" placeholder="Email" class="form-control">
    </div>
    <div class="mb-3">
        <input type="text" name="phone_number" placeholder="{{ 'phone.number'|_ }}" class="form-control">
    </div>
    <div class="mb-3">
        <input type="text" name="company_name" placeholder="{{ 'company.name'|_ }}" class="form-control">
    </div>
    <div class="mb-3">
        <select class="form-control" name='subject'>

            {% for key,category in subjects %}
                {% if category.subject is defined %}
                    <optgroup label="{{ category.name }}">
                    {% for subject in category.subject %}
                        <option value="{{ subject.name }}">{{ subject.name }}</option>
                    {% endfor %}
                    </optgroup>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input type="text" name="message" placeholder="{{ 'message'|_ }}" class="form-control">
    </div>
    <div class="text-right">
        <button class="btn btn-orange px-5">{{ 'SEND'|_ }}</button>
    </div>
</form>