{% put meta %}
{% default %}
    {% if post.redirect_url %}
        <meta http-equiv="refresh" content="0; url={{post.redirect_url}}" />
    {% endif %}

    {% if post.seo_title %}
    {% else %}
    {% endif %}

    {% if post.seo_description %}
        <meta name="description" content="{{post.seo_description}}">
    {% endif %}

    {% if post.seo_keywords %}
        <meta name="keywords" content="{{post.seo_keywords}}">
    {% endif %}

    {% if post.canonical_url %}
        <link rel="canonical" href="{{post.canonical_url}}" />
    {% else %}
        {{ '' | generateCanonicalUrl}}
    {% endif %}

    {% if post.robot_index and post.robot_follow %}
        <meta name="robots" content="{{post.robot_index}},{{post.robot_follow}}">
    {% endif %}

    {{ ''|otherMetaTags|raw }}

    {{ post|generateOgTags }}
    {% if post.image %}
        <meta property="og:image" content="{{ post.image|media }}" >
    {% endif %}

    {{ post|generateTwitterTags }}
    {% if post.image %}
        <meta property="twitter:image" content="{{ post.image|media }}" >
    {% endif %}
{% endput %}

    
