<div class="f-carousel">
    <div class="owl-carousel owl-theme" id="owl-pages">
        <div class="item">
            <div class="desc-carousel">
                <div class="container">
                    <h2>Our professional drivers and staff will take a dedicated approach per customer for each service offer to deliver the best road journey experience possible to you.</h2>
                </div>
            </div>
            <img src="{assetsPath}/MPM-IMG-Header-Service-03@2x.webp">
        </div>
        <div class="item">
            <div class="desc-carousel">
                <div class="container">
                    <h2>Our professional drivers and staff will take a dedicated approach per customer for each service offer to deliver the best road journey experience possible to you.</h2>
                </div>
            </div>
            <img src="{assetsPath}/MPM-IMG-Header-Service-02@2x.webp">
        </div>
        <div class="item">
            <div class="desc-carousel">
                <div class="container">
                    <h2>Our professional drivers and staff will take a dedicated approach per customer for each service offer to deliver the best road journey experience possible to you.</h2>
                </div>
            </div>
            <img src="{assetsPath}/MPM-IMG-Header-Service-01@2x.webp">
        </div>
    </div>
</div>
<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <div class='page-title text-center'>
            <h1>Our Services</h1>    
        </div>
        <div class="row">
            <div class="col-md-12 pb-5" id="long_term_rental">
                <div class="media-services">
                    <div class="media-left">
                        <div class="thumbnail"><img src="{assetsPath}/IMG_2412@2x.webp"></div>
                    </div>
                    <div class="media-body">
                        <h4>Long Term Rental</h4>
                        <div class='service-detail'>
                            <div class="collapse" id="longTermRental">
                                <p>We facilitate your company’s transportation need with various types of vehicles from commercial to passenger vehicles. All services include maintenance service, insurance claim, 24 hours assistance, and car replacement.</p>
                            </div>
                            <div class='mt-3'>
                                <a href="/order" id="ServiceLTR">Rent Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="short_term_rental">
                <div class="media-services">
                    <div class="media-body">
                        <h4>Short Term Rental</h4>
                        <div class='service-detail'>
                            <div class="collapse" id="shortTermRental">
                                <p>Rental service to meet flexible transportation needs. We facilitate daily, weekly, or monthly rent services with or without driver. All services include maintenance service, insurance claim, 24 hours assistance, and car replacement.</p>
                            </div>
                            <div class='mt-3'>
                                <a href="/order" id="ServiceSTR">Rent Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="thumbnail"><img src="{assetsPath}/IMG_2442@2x.webp"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid cf-orange">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pb-5" id="fleet_management_system">
                <div class="media-services">
                    <div class="media-left">
                        <div class="thumbnail"><img src="{assetsPath}/MPM-apps@2x.webp"></div>
                    </div>
                    <div class="media-body">
                        <h4>Fleet Management System</h4>
                        <div class='service-detail srv-white'>
                            <div class="collapse" id="fleetManagementSystem">
                                <p>Rental service to meet flexible transportation needs. We facilitate daily, weekly, or monthly rent services with or without driver. All services include maintenance service, insurance claim, 24 hours assistance, and car replacement.</p>
                            </div>
                            <div class='mt-3'>
                                <a href="/order" id="ServiceFMS">Rent Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="driver_services">
                <div class="media-services">
                    <div class="media-body">
                        <h4>Driver Services</h4>
                        <div class='service-detail srv-white'>
                            <div class="collapse" id="driverServices">
                                <p>To complete the vehicle rental service, through PT DSS, MPM<i>Rent</i> also provides quality manpower services such as driver services, cleaning services, security services, and other support services.</p>
                            </div>
                            <div class='mt-3'>
                                <a href="/order" id="ServiceDS">Rent Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="thumbnail"><img src="{assetsPath}/driver_service.webp"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid cf-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="auction_and_pre-owned_car">
                <div class="media-services">
                    <div class="media-left">
                        <div class="thumbnail"><img src="{assetsPath}/MPM-Fleet02@2x.webp"></div>
                    </div>
                    <div class="media-body">
                        <h4>Auction and Pre-owned Cars</h4>
                        <div class='service-detail'>
                            <div class="collapse" id="auction">
                                <p>Our auction service, Auksi is open to the public both companies and individuals who want to sell their motorized vehicles. We have in-house auctions in Jakarta and several cities throughout Indonesia, and our auctions are carried out in transparent and complete process by professionals in accordance with local regulations.</p>
                            </div>
                            <div class='mt-3'>
                                <a role="button" class="collapsed btn-colapse" data-toggle="collapse" href="#auction" aria-expanded="false" aria-controls="auction">Read More</a>
                            </div>
                        </div>
                        <a href="https://www.auksi.co.id/" target="_blank" class="btn btn-orange mt-3 d-inline-block">Visit Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>