<div class="media my-2">
    <img src="{assetsPath}/24-hours-footer.png" class="align-self-center">
    <div class="media-body">
        <span class="no-contact-footer"><a class='mail-white' href="tel:1500068">1500068</a></span>
    </div>
</div>
<div class="media">
    <img src="{assetsPath}/icn-email.png">
    <div class="media-body">
        <span><a class='mail-white' href="mailto:contact@mpm-rent.com">contact@mpm-rent.com</a></span>
    </div>
</div>