<div class="media my-2">
    <img src="{assetsPath}/24-hours-footer.png" class="align-self-center">
    <div class="media-body jcbu-footer">
    	<p><a class='mail-white' href="tel:1500068">1500068</a> （インドネシア国内より</p>
        <!-- <span class="no-contact-footer">1500068</span> -->
    </div>
</div>
<div class="media">
    <img src="{assetsPath}/icn-email.png">
    <div class="media-body">
        <span><a class='mail-white' href="mailto:jcbu@mpm-rent.com">jcbu@mpm-rent.com</a></span>
    </div>
</div>