<div class="title-footer">PT Mitra Pinasthika Mustika Rent</div>
<p>Sunburst CBD Lot II No. 10, 
<br>Jl. Kapten Soebijanto Djojohadikusumo, 
<br>BSD City Tangerang 15322, Indonesia</p>
<p>Telp : <a class='mail-white' href='tel:+622153157668'>+62 21 5315 7668</a></p>
<p>Fax :  <a class='mail-white' href='tel:+622153157669'>+62 21 5315 7669</a></p>
