<div class="title-footer">PT Mitra Pinasthika Mustika Rent</div>
<p>Sunburst CBD Lot II No. 10, 
<br>Jl. Kapten Soebijanto Djojohadikusumo, 
<br>BSD City Tangerang 15322, Indonesia</p>
<p>【日本人スタッフ対応窓口】　（日本語）</p>
<p><a class='mail-white' href='tel:+622153160077'>+62-21-5316-0077</a> （営業時間 8:30～17:30）</p>
<p><a class='mail-white' href='tel:+628111225499'>+62-811-1225-499</a>（営業時間外）</p>
<p>メールアドレス：<a class='mail-white' href="mailto:jcbu@mpm-rent.com">jcbu@mpm-rent.com</a></p>