<div class="f-carousel">
    <div class="owl-carousel owl-theme" id="owl-pages">
        <div class="item">
            <div class="desc-carousel">
                <div class="container text-left">
                    <h2 class="news-banner">MPM<i>Rent</i></h2>
                    <h3 class="sub-title-banner">でのキャリアパス</h3>
                    <a href="https://mpm-rent.zohorecruit.com/jobs/Careers" target="_blank" class="btn btn-orange-gradient">APPLY NOW</a>
                </div>
            </div>
            <img src="{assetsPath}/MPM-IMG-Header-Career_01@2x.png">
        </div>
    </div>
</div>
<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section text-left">
                    <h1>信条</h1>
                </div>
            </div>
            <div class="col-md-12">
                <h6>当社は、役割、義務、責任を遂行するにあたり、以下3つの信条に含まれる価値観と企業文化を適用します。</h6>
            </div>
            <div class="col-md-12 mt-5 mb-2">
                <div class="media media-thumbnail-career">
                    <div class="media-left">
                        <div class="thumbnail"><img src="{assetsPath}/progressive_thinking@2x.png"></div>
                    </div>
                    <div class="media-body">
                        <div class="desc-career dc-right">
                            <h3>積極的な思考</h3>
                            <p>私たちはアイデアの力を信じています。出元に関係なく、前進するために新しいアイデアと知識を受け入れます。</p>
                        </div>
                    </div>
                </div>
                <div class="media media-thumbnail-career">
                    <div class="media-body">
                        <div class="desc-career">
                            <h3>意欲的な当事者意識</h3>
                            <p>意欲的な当事者意識
                            私たちは、私たちの行動が他者に影響を与えると信じています。
                            個人の立ち居振る舞いと積極的な行動に責任を負う事で、協調関係の確立に繋がります。
                            </p>
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="thumbnail"><img src="{assetsPath}/active_ownership@2x.png"></div>
                    </div>
                </div>
                <div class="media media-thumbnail-career">
                    <div class="media-left">
                        <div class="thumbnail"><img src="{assetsPath}/collaboration@2x.png"></div>
                    </div>
                    <div class="media-body">
                        <div class="desc-career dc-right">
                            <h3>協力</h3>
                            <p>私たちは、垣根を取りのぞき協力し、人々の団結力が発揮される時に、最も効果的に目的が達成されると信じています。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>