<div class="f-carousel">
    <div class="owl-carousel owl-theme" id="owl-pages">
        <div class="item">
            <div class="desc-carousel">
                <div class="container text-left">
                    <h3 class="sub-title-banner">Working with us</h3>
                    <h1 class="news-banner">Job Vacancies at MPM<i>Rent</i></h1>
                    <a href="https://mpm-rent.zohorecruit.com/jobs/Careers" target="_blank" class="btn btn-orange-gradient">APPLY NOW</a>
                </div>
            </div>
            <img src="{assetsPath}/MPM-IMG-Header-Career_01@2x.webp">
        </div>
    </div>
</div>
<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section text-left">
                    <h2>Credo</h2>
                </div>
            </div>
            <div class="col-md-12">
                <h6>In carrying out it roles, duties, and responsibilities, the Company applies values and corporate cultures contained in the following three CREDO elements.</h6>
            </div>
            <div class="col-md-12 mt-5 mb-2">
                <div class="media media-thumbnail-career">
                    <div class="media-left">
                        <div class="thumbnail"><img src="{assetsPath}/progressive_thinking@2x.webp"></div>
                    </div>
                    <div class="media-body">
                        <div class="desc-career dc-right">
                            <h3>Progressive Thinking</h3>
                            <p>We believe in the power of ideas. No matter where they come from, we embrace new ideas and new knowledge to help us progress.</p>
                        </div>
                    </div>
                </div>
                <div class="media media-thumbnail-career">
                    <div class="media-body">
                        <div class="desc-career">
                            <h3>Active Ownership</h3>
                            <p>We believe our actions will impact others. Being excited to take personal ownership of our actions and being proactive will lead to the success of our ecosystem.</p>
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="thumbnail"><img src="{assetsPath}/active_ownership@2x.webp"></div>
                    </div>
                </div>
                <div class="media media-thumbnail-career">
                    <div class="media-left">
                        <div class="thumbnail"><img src="{assetsPath}/collaboration@2x.webp"></div>
                    </div>
                    <div class="media-body">
                        <div class="desc-career dc-right">
                            <h3>Collaboration</h3>
                            <p>We believe that the most impactful realization of our dreams happens when we work jointly together and remove our constraints to deliver the collective power of our people.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>