<div class="f-carousel">
    <div class="owl-carousel owl-theme" id="owl-pages">
        <div class="item">
            <div class="desc-carousel">
                <div class="container text-left">
                    <h3 class="sub-title-banner">Raih kesempatan berkarir bersama kami </h3>
                    <h1 class="news-banner">Lowongan Kerja MPM<i>Rent</i></h1>
                    <a href="https://mpm-rent.zohorecruit.com/jobs/Careers" target="_blank" class="btn btn-orange-gradient">LAMAR SEKARANG</a>
                </div>
            </div>
            <img src="{assetsPath}/MPM-IMG-Header-Career_01@2x.webp">
        </div>
    </div>
</div>
<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section text-left">
                    <h2>Credo</h2>
                </div>
            </div>
            <div class="col-md-12">
                <h6>Dalam menjalankan peranan, tugas, dan tanggung jawabnya, Perseroan menerapkan nilai-nilai serta budaya kerja yang tertuang dalam tiga elemen CREDO.</h6>
            </div>
            <div class="col-md-12 mt-5 mb-2">
                <div class="media media-thumbnail-career">
                    <div class="media-left">
                        <div class="thumbnail"><img src="{assetsPath}/progressive_thinking@2x.webp"></div>
                    </div>
                    <div class="media-body">
                        <div class="desc-career dc-right">
                            <h3>Progressive Thinking</h3>
                            <p>Kami percaya pada kekuatan ide. Tidak peduli dari mana pun ide tersebut berasal. Kami merangkul ide-ide dan pengetahuan baru yang membantu kami untuk maju.</p>
                        </div>
                    </div>
                </div>
                <div class="media media-thumbnail-career">
                    <div class="media-body">
                        <div class="desc-career">
                            <h3>Active Ownership</h3>
                            <p>Kami percaya tindakan kami akan berpengaruh bagi orang lain. Penuh semangat dalam mengendalikan diri atas tindakan kami dan menjadi proaktif akan menuntun pada kesuksesan ekosistem kita.</p>
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="thumbnail"><img src="{assetsPath}/active_ownership@2x.webp"></div>
                    </div>
                </div>
                <div class="media media-thumbnail-career">
                    <div class="media-left">
                        <div class="thumbnail"><img src="{assetsPath}/collaboration@2x.webp"></div>
                    </div>
                    <div class="media-body">
                        <div class="desc-career dc-right">
                            <h3>Collaboration</h3>
                            <p>Kami percaya bahwa realisasi impian yang paling berpengaruh terjadi saat kita bekerja bersama-sama dan menghilangkan kendala untuk memberikan kekuatan kolektif masyarakat kita.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>